@using Domain.Enums
@using Domain.Extentions
@using Domain.Constant
@using Service.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <style>
    </style>
</head>

<body>
    <div><h1>Hello</h1></div>
    <script>
    </script>
</body>
</html>
