@using Service.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var masterDataHelper = new MasterDataHelper();
    var listSeafoodPromotion = masterDataHelper.GetListSeafoodPromotion();
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/basket.css" rel="stylesheet" />
    <style>
        .body-detailt {
            color: #4a4a4a;
            font-size: 1em;
            font-weight: 400;
            line-height: 1.5;
            width: 100%;
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            padding: 0 5px 0 5px;
        }

        .main-title {
            display: flex !important;
            align-items: center !important;
        }

            .main-title h1 {
                color: rgb(7, 171, 226);
                margin: 0 10px 0 0;
                font-size: 18px;
                font-weight: 600;
                line-height: 2;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .main-title i {
                font-size: 14px;
                color: #f59e0b;
                margin: 0 5px 0 0;
            }

        .basket-detailt-main {
            margin-top: 10px;
        }

        .box-more-promotion {
            background-color: white;
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid rgb(7, 171, 226);
        }

        .box-more-promotion-title {
            font-size: 14px;
            width: 100%;
            padding: 10px;
            background-color: #dee8fc;
            color: rgb(7, 171, 226);
        }

        .box-more-promotion-content {
            min-height: fit-content;
            transition: min-height 1s ease;
            padding: 10px 10px 5px 10px;
            display: flex !important;
            flex-flow: row !important;
            gap: 5px;
        }

        .box-more-promotion-content-✓ {
            width: 15px;
            height: 15px;
            text-align: center;
            font-size: 10px;
            border-radius: 50%;
            font-weight: 600;
            background-color: #5cb85c;
            color: white;
        }

        .box-more-promotion-content-detailt {
            width: calc(100% - 25px);
            font-size: 12px;
        }

        .basket-header {
            background: rgb(255, 255, 255);
            padding: 10px;
            border-radius: 4px;
            color: rgb(36, 36, 36);
            font-weight: 400;
            font-size: 13px;
            margin-bottom: 12px;
            position: sticky;
            top: 20px;
            z-index: 99;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
        }

            .basket-header div {
                text-align: start;
            }

        .basket-content {
            background: rgb(255, 255, 255);
            padding: 10px;
            border-radius: 4px;
            color: rgb(36, 36, 36);
            font-weight: 400;
            font-size: 12px;
            margin-bottom: 12px;
            position: sticky;
            top: 20px;
            z-index: 99;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
        }

            .basket-content div {
                text-align: start;
            }

            .basket-content .info-prod-basket {
                display: flex;
                width: 350px;
                gap: 10px;
            }

                .basket-content .info-prod-basket img {
                    width: 40%;
                }

                .basket-content .info-prod-basket .info-prod {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                }

                .basket-content .info-prod-basket .name-prod {
                    margin-left: -5px;
                    font-size: 13px;
                }

                .basket-content .info-prod-basket .descPromotion {
                    margin-top:5px;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    overflow: hidden;
                    height: 37px;
                    position: relative;
                    z-index: 10;
                }


            .basket-content .price-prod-basket {
                display: flex;
                flex: 1.5;
                margin-left: 5px;
            }

        .prod-promotion-popover {
            margin-top:5px;
            color: rgb(7, 171, 226);
        }

        .box-product-promotion-content {
            min-height: fit-content;
            transition: min-height 1s ease;
            padding: 5px 0 5px 0;
            display: flex;
            gap: 5px;
        }

        .box-product-promotion-number {
            text-align: center !important;
            width: 15px;
            height: 15px;
            text-align: center;
            font-size: 10px;
            border-radius: 50%;
            font-weight: 600;
            background-color: rgb(7, 171, 226);
            color: white;
        }

        .box-product-promotion-detail {
            width: calc(100% - 25px);
            font-size: 12px;
        }

        .linked-undefined {
            width: calc(66.66667%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5px 4px;
            border: 1px solid rgb(7, 171, 226);
            border-radius: 8px;
            background: #fff;
            text-decoration: none;
            color: #444;
            position: relative;
            overflow: hidden;
            grid-gap: 3px;
            gap: 3px;
        }

            .linked-undefined strong {
                font-size: 11px !important;
            }

        .active {
            content: "✓";
            width: 18px;
            height: 13px;
            border-radius: 0 0 10px 0;
            background-color: rgb(7, 171, 226);
            color: #fff;
            font-size: 10px;
            padding-left: 4px;
            padding-bottom:13.5px;
            position: absolute;
            top: 0;
            left: 0;
        }

        .checkbox-fake {
            height: 18px;
            border: 1px solid rgb(7, 171, 226);
            border-radius: 4px;
            display: inline-block;
            vertical-align: middle;
            vertical-align: middle !important;
            position: relative;
            z-index: 1;
            color: white;
            font-size: 15px;
            font-weight: 900;
            text-align: center;
            cursor: pointer;
            background-color: transparent;
        }

        .box-info__box-price {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
        }

        .product__price--show {
            display: inline-block;
            margin-bottom: 12px !important;
            font-size: 15px;
            font-weight: 600;
            line-height: 1.1;
            color: rgb(36, 36, 36);
        }

        .product__price--through {
            display: inline-block;
            margin: 0 0 10px 10px;
            font-size: 13px;
            font-weight: 500;
            text-decoration: line-through;
            color: rgb(153, 153, 153);
            position: relative;
            top: 2px;
        }

        .product__final-prices {
            color: #d70018;
            font-size: 15px;
            font-weight: 600;
            line-height: 20px;
            display: block;
        }

        /*ghi đè class*/
        a:focus {
             outline: none; 
             outline-offset: 0; 
        }
        .popover-title {
            background-color: #dee8fc;
        }
    </style>
</head>

<body style="background-color: #efefef;">
    <div class="body-detailt">
        <div class="main-title">
            <h1>GIỎ HÀNG</h1>
        </div>
        <div class="slim-line">
        </div>

        <div class="basket-detailt-main row">
            <div class="col-md-8 col-sm-12 menu">
                <div class="basket-header">
                    <div style="width: 18px;margin-right:12px;" class="checkbox-fake">
                        <div style="margin-top:-3px;">
                            ✓
                        </div>
                    </div>
                    <div class="info-prod-basket" style="width:350px;">
                        Tất cả (1 sản phẩm)
                    </div>
                    <div style="flex: 1.5;">
                        Đơn giá
                    </div>
                    <div style="flex: 1;">
                        Số lượng
                    </div>
                    <div style="flex: 1;">
                        Thành tiền
                    </div>
                    <div style="width: auto">
                        <i data-toggle="tooltip" data-placement="top" title="Xóa mục đã chọn" style="font-size: 18px; cursor: pointer;" class="fa-regular fa-trash-can"></i>
                    </div>
                </div>
                <div class="basket-content">
                    <div style="width: 18px;" class="checkbox-fake">
                        <div style="margin-top:-3px;">
                            ✓
                        </div>
                    </div>
                    <div class="info-prod-basket">
                        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/4/h/4h43.png" alt="Alternate Text" />
                        <div class="info-prod">
                            <div class="name-prod">
                                <strong>Loại tôm 1kg 40</strong>
                            </div>
                            <span class="descPromotion">Tôm được bảo chất lượng tươi ngon Tôm được bảo chất lượng tươi ngon tươi ngon</span>
                            <div class="linked-undefined">
                                <strong>chế biến lẩu</strong>
                                @*<span>30.000 đ</span>*@
                                <div class="active">
                                    ✓
                                </div>
                            </div>
                            <!-- Popover product-promotion -->
                            <a class="prod-promotion-popover" data-html="true" data-placement="bottom" data-popover-content="#prod_promotion_popover" data-toggle="popover" href="#" data-trigger="focus" tabindex="0">
                                Khuyến mãi
                                <i class="fa-sharp fa-solid fa-chevron-down"></i>
                            </a>
                        </div>

                    </div>
                    <div class="price-prod-basket">
                        <div class="box-info__box-price">
                            <div class="product__price--show">
                                150.000 đ
                            </div>
                            <div class="product__price--through">
                                180.000 đ
                            </div>
                        </div>
                    </div>
                    <div class="amonnt-prod-basket" style="flex: 1;">
                        Số lượng
                    </div>
                    <div class="price_main-prod-basket" style="flex: 1;">
                        <div class="product__final-prices">
                            150.000 đ
                        </div>
                    </div>
                    <div style="width: auto">
                        <i style="font-size: 17px; cursor: pointer;" class="fa-regular fa-trash-can"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="box-more-promotion">
                    <div class="box-more-promotion-title">
                        ƯU ĐÃI THÊM TỪ SEAFOOD
                    </div>
                    @foreach (var item in listSeafoodPromotion)
                    {
                        <div class="box-more-promotion-content">
                            <div class="box-more-promotion-content-✓">
                                ✓
                            </div>
                            <div class="box-more-promotion-content-detailt">
                                @item.Content
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--Content Popover product-promotion -->
    <div class="hidden d-none" id="prod_promotion_popover">
        <div class="popover-heading">
            Khuyến mãi từ sản phẩm
        </div>
        <div class="popover-body">
            <div class="box-product-promotion-content">
                <div class="box-product-promotion-number">
                    1
                </div>
                <div class="box-product-promotion-detail">
                    Cửa hàng đang có chương trường khuyến mại giảm giá 10% khi mua với hóa đơn từ 1000.000 đ
                </div>
            </div>
            <div class="box-product-promotion-content">
                <div class="box-product-promotion-number">
                    2
                </div>
                <div class="box-product-promotion-detail">
                    Cửa hàng đang có chương trường khuyến mại giảm giá 10% khi mua với hóa đơn từ 1000.000 đ
                </div>
            </div>
            <div class="box-product-promotion-content">
                <div class="box-product-promotion-number">
                    3
                </div>
                <div class="box-product-promotion-detail">
                    Cửa hàng đang có chương trường khuyến mại giảm giá 10% khi mua với hóa đơn từ 1000.000 đ
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {

            $("[data-toggle=popover]").popover({
                html: true,
                content: function (e) {
                    var content = $(this).attr("data-popover-content");
                    return $(content).children(".popover-body").html();
                },
                title: function (e) {
                    var title = $(this).attr("data-popover-content");
                    return $(title).children(".popover-heading").html();
                }
            });

        });

        $('.prod-promotion-popover').click(function (e) {
            e.preventDefault(); return true;
        });
    </script>
</body>
</html>
