
/*Responesive*/

@media only screen and (max-width: 1800px) {
    #mainContent_grid {
        grid-template-columns: 250px 250px 250px 250px 250px;
    }
}

@media only screen and (max-width: 1500px) {
    #mainContent_grid {
        grid-template-columns: 250px 250px 250px 250px;
    }
}

@media only screen and (max-width: 1200px) {
    #mainContent_grid {
        grid-template-columns: 250px 250px 250px;
    }
}

@media only screen and (max-width: 768px) {
    #mainContent_grid {
        grid-template-columns: 250px 250px;
    }
    #headerCenterCarousel {
        display: none;
    }
    .headerRight {
        margin-right: auto !important;
        margin-left: auto !important;
    }
    .headerLeft {
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

@media only screen and (max-width: 600px) {
    .headerRight {
        margin-top: 20px !important;
    }
    .notifiErrorRight {
        right: 0 !important;
        bottom: 10px !important;
    }
    .notifiSuccessRight {
        right: 0 !important;
        bottom: 10px !important;
    }
    #mainContent_grid {
        grid-template-columns: 200px 200px;
    }
    #r-container-image {
        display: none;
    }
    #headerCenterCarousel {
        display: none;
    }
    .mainContent_grid_item {
        height: 350px !important;
    }
    .card-price__pecent-text {
        font-size: 10px !important;
    }
        .mainContent_card-content {
        font-size: 10px !important;
    }
    .mainContent_card-price__main {
        font-size: 13px !important;
    }
    .mainContent_card-reviewProd i {
        font-size: 12px !important;
    }
    .mainContent_card-price__sale {
        font-size: 10px !important;
    }
    .mainContent_card-desc {
        font-size: 10px !important;
    }
}

/*mainContent*/

.mainContent {
    margin: 20px 0 20px 0;
    align-items: center !important;
}

.mainContent_grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 250px 250px 250px 250px 250px 250px;
    padding: 10px;
}

.mainContent_grid_item {
    position: relative;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%) !important;
    background-color: white;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    height: 400px;
}

    .mainContent_grid_item:hover {
        box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.24) !important;
    }

.mainContent_card-wrapper {
    text-align: start;
}

.mainContent_card-price__pecent {
    position: absolute;
    display: flex;
    background-color: #cd1818;
    top: 10px;
    left: 20px;
    width: auto;
    border-radius: 5px;
    padding: 2.5px 5px 2.5px 5px;
    justify-content: center;
    text-align: center;
}

.card-price__pecent-text {
    font-size: 12px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
}

.mainContent_card-img img {
    width: 100%;
}

.mainContent_card-content {
    margin-top: 10px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 14px;
    height: 65px;
    font-weight: 600;
    position: relative;
    z-index: 10;
}

.mainContent_card-price {
    margin-top: 10px;
    color: #444;
    line-height: 1.4;
    align-items: flex-end;
    font-family: sans-serif;
    display: flex;
    font-weight: 700;
}

.mainContent_card-price__main {
    display: inline-block;
    margin-bottom: 10px !important;
    font-weight: 700;
    line-height: 1.1;
    color: #d70018;
    font-size: 18px;
}

.mainContent_card-price__sale {
    display: inline-block;
    margin: 0 0 10px 10px;
    font-weight: 600;
    text-decoration: line-through;
    color: #707070;
    position: relative;
    top: 2px;
    font-size: 14px;
}

.mainContent_card-descPromotion {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 12px;
    height: auto;
    max-height: 43px;
    font-weight: 600;
    border: 1px solid #e5e7eb;
    background: #f3f4f6;
    border-radius: 5px;
    border: 1px solid #e5e7eb;
    padding: 5px;
}

.mainContent_card-favourite {
    position: absolute;
    display: flex;
    bottom: 5px;
    right: 20px;
    width: calc(100% - 20px);
    justify-content: right;
    font-size: 12px;
    color: #777;
}

    .mainContent_card-favourite i {
        margin-left: 10px;
        font-size: 18px;
        color: #d70018;
    }

        .mainContent_card-favourite i:hover {
            font-size: 20px;
        }

@import url(https://fonts.googleapis.com/css?family=Vibur);
/*//////////////////////////////*/
.validateError {
    color: #D93025;
    font-size: 13px;
}

.slim-line {
    height: 1.5px;
    background-color: #dee8fc;
    width: 100%;
}

.labelClick {
    color: #1a73e8;
    cursor: pointer;
}
    .labelClick:hover {
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: none;
    }

.btn-primary {
    background-color: #3b5898 !important;
    color: white !important;
    width: 100% !important;
    margin-top: 10% !important;
}

.buttonCore {
    width: 100px !important;
    font-size: 15px !important;
    border-width: 0px !important;
    border-radius: 5px !important;
    font-weight: normal !important;
    color: white;
    height: 35px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #3b5898;
}

    .buttonCore:hover {
        box-shadow: inset 0 0 100px rgb(0 0 0 / 20%);
    }

    .buttonCore:focus {
        outline: none;
    }
/*loading Hourglass*/
#loading {
    background-color: white;
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    z-index: 1000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    text-align: center;
}

#loadingHourglass {
    font-size: 40px;
    color: rgb(7, 171, 226);
    margin: auto;
    display: block;
    top: calc(50% - 100px);
    left: calc(50% - 10px);
    position: absolute;
    z-index: 999999;
}

#loadingIcon {
    font-size: 40px;
    color: rgb(7, 171, 226);
    margin: auto;
    display: block;
    top: calc(50% - 100px);
    left: calc(50% - 10px);
    position: absolute;
    z-index: 999999;
}

#loadingText {
    font-size: inherit;
    color: rgb(7, 171, 226);
    margin: auto;
    display: block;
    top: calc(50% - 60px);
    left: calc(50% - 30px);
    position: absolute;
    z-index: 999999;
}

/*Notification*/
.notifiError {
    z-index: 1;
    position: relative;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f44336;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.notifiErrorRight {
    z-index: 1;
    position: absolute;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f44336;
    color: white;
    bottom: 20px;
    right: 10px;
}

.notifiSuccess {
    z-index: 1;
    position: relative;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #04AA6D;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.notifiSuccessRight {
    z-index: 1;
    position: absolute;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #04AA6D;
    color: white;
    bottom: 20px;
    right: 10px;
}

.notifiInfo {
    z-index: 1;
    position: relative;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #2196F3;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.notifiWarning {
    z-index: 1;
    position: relative;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ff9800;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
    .closebtn:hover {
        color: black;
    }

@-moz-keyframes wrong-log {
    0%, 100% {
        left: 0px;
    }

    20%, 60% {
        left: 15px;
    }

    40%, 80% {
        left: -15px;
    }
}

@-webkit-keyframes wrong-log {
    0%, 100% {
        left: 0px;
    }

    20%, 60% {
        left: 15px;
    }

    40%, 80% {
        left: -15px;
    }
}

@keyframes wrong-log {
    0%, 100% {
        left: 0px;
    }

    20%, 60% {
        left: 15px;
    }

    40%, 80% {
        left: -15px;
    }
}