@import url(https://fonts.googleapis.com/css?family=Vibur);
/*//////////////////////////////*/
.validateError {
    color: #D93025;
    font-size: 13px;
}

.labelClick {
    color: #1a73e8;
    cursor: pointer;
}
    .labelClick:hover {
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: none;
    }

.btn-primary {
    background-color: #3b5898 !important;
    color: white !important;
    width: 100% !important;
    margin-top: 10% !important;
}

.buttonCore {
    width: 100px !important;
    font-size: 15px !important;
    border-width: 0px !important;
    border-radius: 5px !important;
    font-weight: normal !important;
    color: white;
    height: 35px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #17a2b8;
}

    .buttonCore:hover {
        box-shadow: inset 0 0 100px rgb(0 0 0 / 20%);
    }

    .buttonCore:focus {
        outline: none;
    }
/*loading Hourglass*/
#loading {
    background-color: white;
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    z-index: 1000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    text-align: center;
}

#loadingHourglass {
    font-size: 50px;
    color: black;
    margin: auto;
    display: block;
    top: calc(50% - 100px);
    left: calc(50% - 10px);
    position: absolute;
    z-index: 999999;
}

#loadingTextHourglass {
    font-size: inherit;
    color: black;
    margin: auto;
    display: block;
    top: calc(50% - 50px);
    left: calc(50% - 25px);
    position: absolute;
    z-index: 999999;
}

/*Notification*/
.notifiError {
    z-index: 1;
    position: relative;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f44336;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.notifiErrorRight {
    z-index: 1;
    position: absolute;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f44336;
    color: white;
    bottom: 3%;
    right: 1%;
}

.notifiSuccess {
    z-index: 1;
    position: relative;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #04AA6D;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.notifiInfo {
    z-index: 1;
    position: relative;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #2196F3;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.notifiWarning {
    z-index: 1;
    position: relative;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ff9800;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
    .closebtn:hover {
        color: black;
    }

@-moz-keyframes wrong-log {
    0%, 100% {
        left: 0px;
    }

    20%, 60% {
        left: 15px;
    }

    40%, 80% {
        left: -15px;
    }
}

@-webkit-keyframes wrong-log {
    0%, 100% {
        left: 0px;
    }

    20%, 60% {
        left: 15px;
    }

    40%, 80% {
        left: -15px;
    }
}

@keyframes wrong-log {
    0%, 100% {
        left: 0px;
    }

    20%, 60% {
        left: 15px;
    }

    40%, 80% {
        left: -15px;
    }
}