.box-header-account {
    width: 100%;
    height: 84px;
    box-shadow: 0 6px 6px rgb(0 0 0 / 6%);
    background-color: rgb(7, 171, 226);
    position: relative;
}

    .box-header-account .seafood {
        max-width: 1200px;
        color: white;
        font-family: cursive;
        cursor: pointer;
        font-size: 30px;
        position: absolute;
        left: 15%;
        top: 20px;
    }

.box-form-account {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    margin-top: 10vh;
    width: 100%;
    max-width: 450px;
    background-color: white;
    box-shadow: 0 6px 6px rgb(0 0 0 / 6%);
    padding: 30px;
}

    .box-form-account input {
        flex: 1;
        border: 0px solid transparent;
        font-size: 17px;
        outline: none;
        border: 0;
        flex-shrink: 0;
        filter: none;
    }
