@using Domain.Constant
@{
    Layout = "~/Views/Shared/_LayoutAccountManager.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/account-manager/voucher.css" rel="stylesheet" />
    <style>
        /*ghi đè class*/
        .nav > li > a {
            width: 165px;
            text-align: center;
            padding: 7.5px 0 7.5px 0;
        }

        a {
            border: 1px solid rgba(0,0,0,.14);
        }
    </style>
</head>

<body>
    <div class="container-your-favorite-prod">
        <div class="heading">
            <h3>Mã giảm giá</h3>
        </div>
        <ul class="nav nav-pills">
            <li style="margin:0 7.5px 0 2px;" class="active"><a data-toggle="pill" href="#all_voucher">Tất cả</a></li>
            <li style="margin-right: 7.5px;"><a data-toggle="pill" href="#still_voucher">Còn hiệu lực</a></li>
            <li class="due-voucher" style="margin-right: 7.5px;"><a data-toggle="pill" href="#due_voucher">Hết hiệu lực</a></li>
        </ul>

        <div class="tab-content">
            <div id="all_voucher" class="tab-pane fade in active">
                <div class="grid-container">
                    <div class="grid-item-title">
                        <div class="image">
                            <img src="https://vcdn.tikicdn.com/cache/128x128/ts/seller/87/aa/81/c2edd6107001cffdb7db71b7965d29ab.jpg">
                        </div>
                        <br />
                        <strong>Giảm 20K</strong>
                    </div>
                    <div class="grid-item-content">
                        <div class="box-header">
                            <strong>Mã</strong>
                            <span>ONGNAU0422</span>
                        </div>
                        <div class="box-header">
                            <strong>Hạn sử dụng</strong>
                            <span>30/11/22</span>
                        </div>
                        <div class="box-content">
                            <div class="content">
                                <span style="margin-top:8px;">Điều kiện áp dụng</span>
                            </div>
                            <div class="content">
                                <strong></strong>
                                <span>Giảm 20K cho đơn hàng từ 999K.</span>
                            </div>
                            <div class="content">
                                <strong></strong>
                                <span>Áp dụng cho sản phẩm của Ong Nâu Store.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-item-title">
                        <div class="image">
                            <img src="https://vcdn.tikicdn.com/cache/128x128/ts/seller/87/aa/81/c2edd6107001cffdb7db71b7965d29ab.jpg">
                        </div>
                        <br />
                        <strong>Giảm 20K</strong>
                    </div>
                    <div class="grid-item-content">
                        <div class="box-header">
                            <strong>Mã</strong>
                            <span>ONGNAU0422</span>
                        </div>
                        <div class="box-header">
                            <strong>Hạn sử dụng</strong>
                            <span>30/11/22</span>
                        </div>
                        <div class="box-content">
                            <div class="content">
                                <span style="margin-top:8px;">Điều kiện áp dụng</span>
                            </div>
                            <div class="content">
                                <strong></strong>
                                <span>Giảm 20K cho đơn hàng từ 999K.</span>
                            </div>
                            <div class="content">
                                <strong></strong>
                                <span>Áp dụng cho sản phẩm của Ong Nâu Store.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="still_voucher" class="tab-pane fade">
                <div class="grid-container">
                    <div class="grid-item-title">
                        <div class="image">
                            <img src="https://vcdn.tikicdn.com/cache/128x128/ts/seller/87/aa/81/c2edd6107001cffdb7db71b7965d29ab.jpg">
                        </div>
                        <br />
                        <strong>Giảm 20K</strong>
                    </div>
                    <div class="grid-item-content">
                        <div class="box-header">
                            <strong>Mã</strong>
                            <span>ONGNAU0422</span>
                        </div>
                        <div class="box-header">
                            <strong>Hạn sử dụng</strong>
                            <span>30/11/22</span>
                        </div>
                        <div class="box-content">
                            <div class="content">
                                <span style="margin-top:8px;">Điều kiện áp dụng</span>
                            </div>
                            <div class="content">
                                <strong></strong>
                                <span>Giảm 20K cho đơn hàng từ 999K.</span>
                            </div>
                            <div class="content">
                                <strong></strong>
                                <span>Áp dụng cho sản phẩm của Ong Nâu Store.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="due_voucher" class="tab-pane fade">
                <div class="grid-container">
                    <div class="grid-item-title">
                        <div class="image">
                            <img src="https://vcdn.tikicdn.com/cache/128x128/ts/seller/87/aa/81/c2edd6107001cffdb7db71b7965d29ab.jpg">
                        </div>
                        <br />
                        <strong>Giảm 20K</strong>
                    </div>
                    <div class="grid-item-content">
                        <div class="box-header">
                            <strong>Mã</strong>
                            <span>ONGNAU0422</span>
                        </div>
                        <div class="box-header">
                            <strong>Hạn sử dụng</strong>
                            <span>30/11/22</span>
                        </div>
                        <div class="box-content">
                            <div class="content">
                                <span style="margin-top:8px;">Điều kiện áp dụng</span>
                            </div>
                            <div class="content">
                                <strong></strong>
                                <span>Giảm 20K cho đơn hàng từ 999K.</span>
                            </div>
                            <div class="content">
                                <strong></strong>
                                <span>Áp dụng cho sản phẩm của Ong Nâu Store.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //Setup
        //Setup
        $(document).ready(function ()
        {
        });

    </script>
</body>
</html>
