
@media only screen and (max-width: 1500px) {
    .slick-next:before, .slick-prev:before {
        display:none;
    }
}

.body-detailt {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px 0 5px;
}

.prod-name {
    display: flex !important;
    align-items: center !important;
}

    .prod-name h1 {
        color: #3b5898;
        margin: 0 10px 0 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .prod-name i {
        font-size: 14px;
        color: #f59e0b;
        margin: 0 5px 0 0;
    }

.prod-detailt-main {
    margin-top: 10px;
}

.prod-detailt-main-img {
    height: auto;
    width: 100%;
    display: flex;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%) !important;
    padding: 25px 50px 25px 50px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-align: center;
    overflow: hidden;
}
