@using Domain.Constant
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/orderDetail.css" rel="stylesheet" />
    <style>
        /*ghi đè class*/
    </style>
</head>

<body>
    <div class="container-OrderDetail">
        <div class="main-title">
            <h1>CHI TIẾT ĐƠN HÀNG</h1>
        </div>
        <div class="slim-line">
        </div>
        <div class="box-heading">
            <span class="status">
                @string.Format("Đơn hàng #405353962 - ")
                <strong>
                    Giao hàng thành công
                </strong>
            </span>
        </div>
        <div class="box-head-title">
            Thông báo
        </div>
        <div class="box-main-content">
            <div class="grid-notification">
                <div class="grid-item">
                    16:11 19/08/2019
                </div>
                <div class="grid-item">
                    Thời gian quý khách đã đặt hàng.
                </div>
                <div class="grid-item">
                    08:03 21/08/2019
                </div>
                <div class="grid-item">
                    Chúng tôi vừa bàn giao đơn hàng của quý khách đến đối tác vận chuyển của
                    <strong>
                        Sheafood.
                    </strong>
                    Đơn hàng của quý khách sẽ được giao trong ngày hôm nay 22/08/2019.
                </div>
                <div class="grid-item">
                    09:02 22/08/2019
                </div>
                <div class="grid-item">
                    <strong>
                        Sheafood.
                    </strong>
                    Giao hàng thành công!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-column1 col-md-4 col-sm-12 menu">
                <div class="box-head-title">
                    Địa chỉ người nhận
                </div>
                <div class="box-main-content">
                    <div class="name">
                        Phạm Văn Đức
                    </div>
                    <div class="address">
                        <span>Địa chỉ: </span>
                        <strong>Văn phòng</strong>
                        Số nhà 11 ngõ 298/77/39 đường Ngọc Hồi, Xã Tam Hiệp, Huyện Thanh Trì, Hà Nội, Việt Nam
                    </div>
                    <div class="number-phone">
                        <span>Số điện thoại: </span>
                        0367823445
                    </div>
                </div>

            </div>
            <div class="row-column2 col-md-4 col-sm-12">
                <div class="box-head-title">
                    Hình thức giao hàng
                </div>
                <div class="box-main-content">
                    <div>
                        <strong>
                            Seafood
                        </strong>
                        Giao hàng
                    </div>
                    <div>
                        dự tính hàng được giao vào: Thứ ba, 27/08/2022
                    </div>
                </div>
            </div>
            <div class="row-column3 col-md-4 col-sm-12">
                <div class="box-head-title">
                    Hình thức thanh toán
                </div>
                <div class="box-main-content">
                    <div>
                        Thanh toán tiền mặt khi nhận hàng
                    </div>
                </div>
            </div>
        </div>

        <div class="box-prod-order">
            <div class="status-prod">
                <i class="fa fa-truck" aria-hidden="true"></i>
                <span class="main-status">Đang vận chuyển</span>
            </div>
            <div class="product">
                <div class="detail">
                    <div class="quantity">
                        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/4/h/4h43.png" alt="Alternate Text" />
                        <span>x2</span>
                    </div>
                    <div>
                        <div class="name-prod">
                            <strong>Loại tôm 1kg 40</strong>
                        </div>
                        <span>
                            Chế biến lẩu
                        </span>
                    </div>
                </div>
                <span class="prod-price">
                    210.000 đ
                </span>
            </div>
            <div class="product">
                <div class="detail">
                    <div class="quantity">
                        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/4/h/4h43.png" alt="Alternate Text" />
                        <span>x1</span>
                    </div>
                    <div>
                        <div class="name-prod">
                            <strong>Loại tôm 1kg 40</strong>
                        </div>
                        <span>
                            Chế biến nướng
                        </span>
                    </div>
                </div>
                <span class="prod-price">
                    210.000 đ
                </span>
            </div>
            <div class="total-price">
                <div class="content">
                    <span>
                        Tổng tiền:
                    </span>
                    <strong>
                        459.000 đ
                    </strong>
                </div>
                <div class="click-continue">
                    <button class="btn-core">Mua lại</button>
                </div>
            </div>
        </div>

    </div>

    <script>
        //Setup
        //Setup
    </script>           
</body>
</html>
