@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/order.css" rel="stylesheet" />
    <style>
        .container-oder {
            color: #4a4a4a;
            font-size: 1em;
            font-weight: 400;
            line-height: 1.5;
            width: 100%;
            max-width: 1100px;
            margin-left: auto;
            margin-right: auto;
            padding: 0 5px 0 5px;
        }
        .menu-tab-order {
            display: inline-block;
            width: 100%;
        }
            .menu-tab-order li a {
                /*color: rgb(7, 171, 226);*/
                background-color: white;
                margin-bottom: 5px;
            }

        .box-search-order {
            margin-top: 10px;
            background-color: white;
            display: flex;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
            height: 36px;
            width: 100%;
            border-radius: 4px;
            outline: none;
            border: 1px solid rgb(196, 196, 207);
            justify-content: space-between;
        }
            .box-search-order i {
                width:auto;
                font-size:20px;
                padding:8px 0 8px 8px;
            }
            .box-search-order div {
                background-color:rgb(196, 196, 207);
                width: 1px;
                height: 80%;
                margin: 4px 5px 0 0;
            }
            .box-search-order label {
                font-weight:500;
                color: rgb(7, 171, 226);
                cursor: pointer;
                width: auto;
                font-size: 15px;
                padding: 10px 8px 8px 0;
            } 

        /*ghi đè class*/
        /*slick-slide*/
        .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
            color: rgb(7, 171, 226);
            background-color: #dee8fc !important;
        }
        .nav-tabs {
             border-bottom: none; 
        }
    </style>
</head>

<body>
    <div class="container-oder">
        <div class="main-title">
            <h1>GIỎ HÀNG</h1>
        </div>
        <div class="slim-line">
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12 menu">
                <h3 style="margin-top:10px;">Quản lý đơn hàng</h3>
                <ul class="menu-tab-order nav nav-pills nav-stacked nav nav-tabs">
                    <li class="active"><a href="#all_order">Tất cả đơn</a></li>
                    <li><a href="#order_processing">Đang xử lý</a></li>
                    <li><a href="#order_shiping">Đang vận chuyển</a></li>
                    <li><a href="#order_delivered">Đơn đã giao</a></li>
                    <li><a href="#order_canceled">Đơn đã hủy</a></li>
                </ul>
            </div>

            <div class="col-md-9 col-sm-12">
                <div class="box-search-order">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input style="flex:1;" placeholder="Nhập tên đơn hàng ?" />
                    <div></div>
                    <label style="width:auto;">
                        Tìm đơn hàng
                    </label>
                </div>
                <div class="tab-content">
                    <div id="all_order" class="tab-pane fade in active">
                        <h3>HOME</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div id="order_processing" class="tab-pane fade">
                        <h3>Menu 1</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="order_shiping" class="tab-pane fade">
                        <h3>Menu 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                    <div id="order_delivered" class="tab-pane fade">
                        <h3>Menu 3</h3>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                    <div id="order_canceled" class="tab-pane fade">
                        <h3>Menu 3</h3>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        //Setup
        //Setup
        $(document).ready(function () {
            $(".nav-tabs a").click(function () {
                $(this).tab('show');
            });
        });
    </script>           
</body>
</html>
