@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/order.css" rel="stylesheet" />
    <style>
        .menu-tab-order {
            display: inline-block;
            width: 100%;
        }
            .menu-tab-order li a {
                color: rgb(7, 171, 226);
                background-color: white;
                margin-bottom: 5px;
            }
        /*ghi đè class*/
        /*slick-slide*/
        .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
            color: rgb(7, 171, 226);
            background-color: #dee8fc !important;
        }
        .nav-tabs {
             border-bottom: none; 
        }
    </style>
</head>

<body>
    <div class="container-oder">
        <div class="row">
            <div class="col-md-3 col-sm-12 menu">
                <h2>Dynamic Tabs</h2>
                <ul class="menu-tab-order nav nav-pills nav-stacked nav nav-tabs">
                    <li class="active"><a href="#home">Tất cả đơn</a></li>
                    <li><a href="#menu1">Đang xử lý</a></li>
                    <li><a href="#menu2">Đang vận chuyển</a></li>
                    <li><a href="#menu3">Đơn đã giao</a></li>
                    <li><a href="#menu3">Đơn đã hủy</a></li>
                </ul>
            </div>

            <div class="col-md-7 col-sm-12">
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <h3>HOME</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <h3>Menu 1</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <h3>Menu 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <h3>Menu 3</h3>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        //Setup
        //Setup
        $(document).ready(function () {
            $(".nav-tabs a").click(function () {
                $(this).tab('show');
            });
        });
    </script>           
</body>
</html>
