@using Domain.Constant
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/order.css" rel="stylesheet" />
    <style>

        /*ghi đè class*/
        /*slick-slide*/
        .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
            color: rgb(7, 171, 226);
            background-color: #dee8fc !important;
        }
        .nav-tabs {
             border-bottom: none; 
        }
        .menu-tab-order li a{
            margin:0px 0px 3px 0px;
        }
    </style>
</head>

<body>
    <div class="container-oder">
        <div class="main-title">
            <h1>ĐƠN HÀNG</h1>
        </div>
        <div class="slim-line">
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12 menu">
                <h3 class="name-header-manager-tab">Quản lý đơn hàng</h3>
                <ul class="menu-tab-order nav nav-pills nav-stacked nav nav-tabs">
                    <li class="active"><a href="#all_order">Tất cả đơn</a></li>
                    <li><a href="#order_processing">Đang xử lý</a></li>
                    <li><a href="#order_shiping">Đang vận chuyển</a></li>
                    <li><a href="#order_delivered">Đơn đã giao</a></li>
                    <li><a href="#order_canceled">Đơn đã hủy</a></li>
                </ul>
            </div>

            <div class="col-md-9 col-sm-12">
                <div id="box_search_order" class="box-search-order">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input id="box_search_order_input" placeholder="Tìm đơn hàng theo Mã đơn hàng hoặc tên sản phẩm" />
                    <div></div>
                    <label>
                        Tìm đơn hàng
                    </label>
                </div>
                <div class="tab-content">
                    <div id="all_order" class="tab-pane fade in active">
                        <div class="box-prod-order">
                            <div class="status-prod">
                                <i class="fa fa-truck" aria-hidden="true"></i>
                                <span class="main-status">Đang vận chuyển</span>
                            </div>
                            <div class="product">
                                <div class="detail">
                                    <div class="quantity">
                                        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/4/h/4h43.png" alt="Alternate Text" />
                                        <span>x2</span>
                                    </div>
                                    <div>
                                        <div class="name-prod">
                                            <strong>Loại tôm 1kg 40</strong>
                                        </div>
                                        <span>
                                            Chế biến lẩu
                                        </span>
                                    </div>
                                </div>
                                <span class="prod-price">
                                    210.000 đ
                                </span>
                            </div>
                            <div class="product">
                                <div class="detail">
                                    <div class="quantity">
                                        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/4/h/4h43.png" alt="Alternate Text" />
                                        <span>x1</span>
                                    </div>
                                    <div>
                                        <div class="name-prod">
                                            <strong>Loại tôm 1kg 40</strong>
                                        </div>
                                        <span>
                                            Chế biến nướng
                                        </span>
                                    </div>
                                </div>
                                <span class="prod-price">
                                    210.000 đ
                                </span>
                            </div>
                            <div class="total-price">
                                <div class="content">
                                    <span>
                                        Tổng tiền:
                                    </span>
                                    <strong>
                                        459.000 đ
                                    </strong>
                                </div>
                                <div class="click-continue">
                                    <button class="btn-core">Mua lại</button>
                                    <button class="btn-core">Xem Chi tiết</button>
                                </div>
                            </div>
                        </div>
                        <div class="box-prod-order">
                            <div class="status-prod">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                <span class="main-status">Đã hủy</span>
                            </div>
                        </div>
                    </div>
                    <div id="order_processing" class="tab-pane fade">
                        <div class="box-prod-order">
                            <div class="status-prod">
                                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                <span class="main-status">Đang xử lý</span>
                            </div>
                        </div>
                    </div>
                    <div id="order_shiping" class="tab-pane fade">
                        <div class="box-prod-order">
                            <div class="status-prod">
                                <i class="fa fa-truck" aria-hidden="true"></i>
                                <span class="main-status">Đang vận chuyển</span>
                            </div>
                        </div>
                    </div>
                    <div id="order_delivered" class="tab-pane fade">
                        @*<div class="box-prod-order">
                            <div class="status-prod">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                <span class="main-status">Giao hàng thành công</span>
                            </div>
                        </div>*@
                        <div class="box-no-data-found">
                            <img src="@Constant.Link_Img">
                            <span>Không có đơn hàng</span>
                        </div>
                    </div>
                    <div id="order_canceled" class="tab-pane fade">
                        <div class="box-prod-order">
                            <div class="status-prod">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                <span class="main-status">Đã hủy</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        //Setup
        $('#box_search_order_input').on('focus', function () {
            document.getElementById("box_search_order").style.borderColor = "rgb(7, 171, 226)";
        });
        $('#box_search_order_input').on('blur', function () {
            document.getElementById("box_search_order").style.borderColor = "rgb(196, 196, 207)";
        });
        $(document).ready(function () {
            $(".nav-tabs a").click(function () {
                $(this).tab('show');
            });
        });
        //Setup
        $('.click-continue button').click(function (e)
        {
            var dom = this;
            if (dom.innerText == "Xem Chi tiết")
            {
                window.location = "/YourOrder/OrderDetail";
            }
        });
    </script>           
</body>
</html>
