@using Domain.Constant
@{
    Layout = "~/Views/Shared/_LayoutAccountManager.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/account-manager/favorite-prod.css" rel="stylesheet" />
    <style>
        .box-favorite-prod {
            background-color: rgb(255, 255, 255);
            margin-bottom: 2px;
            border-radius: 2px;
            padding: 20px 50px 20px 15px;
            display: flex;
            margin-bottom: 10px;
            overflow: auto;
        }
            .box-favorite-prod .image {
                width: 120px;
                min-width:120px;
                vertical-align: middle;
                margin-right:20px;
            }
            .box-favorite-prod .image img{
                width:100%;
            }
            .box-favorite-prod .info-prod {
                flex:1;
                min-width:100px;
            }
                .box-favorite-prod .info-prod i {
                    font-size: 11px;
                    color: #f59e0b;
                }
            .box-favorite-prod .footer {
                margin-left: 25px;
                min-width: 140px;
                display: flex;
                gap: 5px;
                position: relative;
            }
                .box-favorite-prod .footer strong {
                    margin: 10px 0 0 0;
                    font-weight: 500;
                    color: #707070;
                    font-size: 14px;
                    color: rgb(255, 66, 78);
                }
                .box-favorite-prod .footer span {
                    font-weight: 600;
                    color: #707070;
                    font-size: 15px;
                    color: rgb(255, 66, 78);
                }

                .box-favorite-prod .footer .price__sale {
                    display: inline-block;
                    font-weight: 500;
                    text-decoration: line-through;
                    font-size: 14px;
                }
                .box-favorite-prod .footer .delete-favorite-prod {
                    position: absolute;
                    top: -10px;
                    right: -35px;
                    font-size: 18px;
                    cursor: pointer;
                    color: rgb(153, 153, 153);
                }

        /*ghi đè class*/
    </style>
</head>

<body>
    <div class="container-favorite-prod">
        <div class="heading">
            <h3>Danh sách yêu thích</h3>
        </div>
        <div class="box-favorite-prod">
            <div class="image">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/4/h/4h43.png" alt="Alternate Text" />
            </div>
            <div class="info-prod">
                <span>Apple iPhone 14 Pro</span>
                <br />
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="footer">
                <strong>-12%</strong>
                <div class="box-price">
                    <div>
                        <span>31.990.000 đ</span>
                    </div>
                    <div class="price__sale">
                        34.990.000 ₫
                    </div>
                </div>
                <i class="delete-favorite-prod fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function ()
        {
        });
    </script>
</body>
</html>
