@using Domain.Constant
@{
    Layout = "~/Views/Shared/_LayoutAccountManager.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/account-manager/favorite-prod.css" rel="stylesheet" />
    <style>
        /*ghi đè class*/
    </style>
</head>

<body>
    <div class="container-favorite-prod">
        <div class="heading">
            <h3>Danh sách sản phẩm yêu thích</h3>
        </div>
        <div class="box-favorite-prod">
        </div>
    </div>
    <script>
        $(document).ready(function ()
        {
        });
    </script>
</body>
</html>
