@using Domain.Constant
@{
    Layout = "~/Views/Shared/_LayoutAccountManager.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/account-manager/favorite-prod.css" rel="stylesheet" />
    <style>
        /*ghi đè class*/
    </style>
</head>

<body>
    <div class="container-favorite-prod">
        <div class="heading">
            <h3>Danh sách yêu thích</h3>
        </div>
        <div class="box-favorite-prod">
            <div class="image">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/4/h/4h43.png" alt="Alternate Text" />
            </div>
            <div class="info-prod">
                <span>Apple iPhone 14 Pro</span>
                <br />
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="footer">
                <strong>-12%</strong>
                <div class="box-price">
                    <div>
                        <span>31.990.000 đ</span>
                    </div>
                    <div class="price__sale">
                        34.990.000 ₫
                    </div>
                </div>
                <i class="delete-favorite-prod fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function ()
        {
        });
    </script>
</body>
</html>
