
@{
    Layout = "~/Views/Account/_LayoutAccount.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-auth-compat.js"></script>
    <style>
        .box-loginBySMS-form {
        }

            .box-loginBySMS-form .header {
                width: 100%;
                font-size: 25px;
            }


            .box-loginBySMS-form .box-input-login {
                margin-top: 20px;
                background-color: white;
                box-sizing: border-box;
                width: 100%;
                height: 45px;
                border: 1px solid rgba(0,0,0,.14);
                border-radius: 2px;
                width: 100%;
                display: flex;
                padding: 3px 10px 0 10px;
                overflow: hidden;
                box-shadow: inset 0 2px 0 rgb(0 0 0 / 2%);
                outline: none;
                justify-content: space-between;
            }

            .box-loginBySMS-form .btn-login {
                width: 100%;
                margin-top: 20px;
                height: 45px;
                font-size: 17px;
            }

            .box-loginBySMS-form .box-lable-login {
                margin-top: 5px;
                /*Chia đều khoảng và cái đứa cái cuối về sát lề*/
                display: flex;
                justify-content: space-between;
                color: #05a;
            }

                .box-loginBySMS-form .box-lable-login a {
                    color: #05a;
                }

            .box-loginBySMS-form .box-describe {
                margin-top: 20px;
                text-transform: uppercase;
                font-size: .75rem;
                display: flex;
            }

                .box-loginBySMS-form .box-describe span {
                    margin: 0 5px 0 5px;
                    font-size: 11px;
                }

                .box-loginBySMS-form .box-describe .slim-line {
                    margin-top: 7px;
                    height: 1.5px;
                    background-color: #ccc;
                }

            .box-loginBySMS-form .box-register {
                margin-top: 40px;
                align-items: center;
                display: flex;
                justify-content: center;
                width: 100%;
            }

                .box-loginBySMS-form .box-register a {
                    margin-left: 5px;
                    color: #ee4d2d;
                }
        #recaptcha-container{
            margin-top:5px;
        }
        /*Ghi đè class*/
        .box-loginBySMS-form .box-input-login input:focus {
            outline: none;
        }
    </style>
</head>
<body>
    <div class="box-loginBySMS-form">
        <div class="header">
            Đăng nhập
        </div>

        <div id="sender">
            <div id="box_login_form_number" class="box-input-login">
                <input id="number" maxlength="12" placeholder="Số Điện Thoại">
            </div>
            <button id="send" class="btn-login btn-core-accept" onclick="phoneAuth()">Tiếp theo</button>
        </div>
        <div id="verifier" style="display:none;">
            <div id="box_login_form_verificationcode" class="box-input-login">
                <input id="verificationcode" maxlength="6" placeholder="OTP Code">
            </div>
            <span class="validate-error" id="alert_verify_code"></span>
            <button id="verify" class="btn-login btn-core-accept" onclick="codeverify()">Xác thực</button>
        </div>
        <div class="box-lable-login">
            <a href=""></a>
            <a href="/Account/Login">Đăng nhập với mật khẩu</a>
        </div>
        <div class="box-describe">
            <div class="slim-line">
            </div>
            <span>Hoặc</span>
            <div class="slim-line">
            </div>
        </div>
        <div class="box-register">
            Bạn mới biết đến Seafood?
            <a href="">Đăng ký</a>
        </div>
    </div>
    @*add firebase SKD*@
    <script>
        //Setup
        //Setup
    </script>
</body>
</html>
