
@{
    Layout = "~/Views/Account/_LayoutAccount.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .box-login-form {
            
        }
            .box-login-form .header {
                width: 100%;
                font-size: 25px;
            }


            .box-login-form .box-input-login {
                margin-top: 20px;
                background-color: white;
                box-sizing: border-box;
                width: 100%;
                height: 45px;
                border: 1px solid rgba(0,0,0,.14);
                border-radius: 2px;
                width: 100%;
                display: flex;
                padding: 3px 10px 0 10px;
                overflow: hidden;
                box-shadow: inset 0 2px 0 rgb(0 0 0 / 2%);
                outline: none;
                justify-content: space-between;
            }

                .box-login-form .box-input-login i {
                    width: auto;
                    font-size: 18px;
                    padding: 10px 0 8px 12px;
                    cursor: pointer;
                }

                .box-login-form .box-input-login input {
                    flex: 1;
                    border: 0px solid transparent;
                    font-size: 17px;
                }
            .box-login-form .btn-login {
                width: 100%;
                margin-top: 20px;
                height: 45px;
                font-size: 17px;
            }
            .box-login-form .box-lable-login {
                margin-top: 5px;
                /*Chia đều khoảng và cái đứa cái cuối về sát lề*/
                display: flex;
                justify-content: space-between;
                color: #05a;
            }
                .box-login-form .box-lable-login a {
                    color: #05a;
                }

            .box-login-form .box-describe {
                margin-top: 20px;
                text-transform: uppercase;
                font-size: .75rem;
                display: flex;
            }
                .box-login-form .box-describe span {
                    margin: 0 5px 0 5px;
                    font-size: 11px;
                }
                .box-login-form .box-describe .slim-line {
                    margin-top: 7px;
                    height: 1.5px;
                    background-color: #ccc;
                }
            .box-login-form .box-register {
                margin-top: 40px;
                align-items: center;
                display: flex;
                justify-content: center;
                width: 100%;
            }
                .box-login-form .box-register a {
                    margin-left: 5px;
                    color: #ee4d2d;
                }
            /*Ghi đè class*/
            ::placeholder {
                font-size: 15px !important;
            }
            .box-login-form .box-input-login input:focus {
                outline: none;
            }
    </style>
</head>
<body>
    <div class="box-login-form">
        <form role="form" method="post">
            <div class="header">
                Đăng nhập
            </div>

            <div id="box_login_form_account" class="box-input-login">
                <input id="userName" name="UserName" maxlength="10" placeholder="Số điện thoại">
            </div>
            <div id="box_login_form_password" class="box-input-login">
                <input type="password" id="password" name="Password" placeholder="Mật khẩu" />
                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                <i style="display:none;" class="fa fa-eye" aria-hidden="true"></i>
            </div>
            <button class="btn-login btn-core-accept">Đăng nhập</button>

            <div class="box-lable-login">
                <a href="">Quên mật khẩu</a>
                <a href="">Đăng nhập với SMS</a>
            </div>
            <div class="box-describe">
                <div class="slim-line">
                </div>
                <span>Hoặc</span>
                <div class="slim-line">
                </div>
            </div>
            <div class="box-register">
                Bạn mới biết đến Seafood?
                <a href="">Đăng ký</a>
            </div>
        </form>
    </div>
    <script>
        //Setup
        $('#login_form_account').on('focus', function () {
            document.getElementById("userName").style.borderColor = "rgb(7, 171, 226)";
        });
        $('#login_form_account').on('blur', function () {
            document.getElementById("userName").style.borderColor = "rgba(0,0,0,.14)";
        });
        $('#login_form_password').on('focus', function () {
            document.getElementById("password").style.borderColor = "rgb(7, 171, 226)";
        });
        $('#login_form_password').on('blur', function () {
            document.getElementById("password").style.borderColor = "rgba(0,0,0,.14)";
        });
        //Setup
    </script>
</body>
</html>
