
@{
    Layout = "~/Views/Account/_LayoutAccount.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .box-login-form {
            
        }
            .box-login-form .header {
                width: 100%;
                font-size: 25px;
            }


            .box-login-form .box-input-login {
                margin-top: 20px;
                background-color: white;
                box-sizing: border-box;
                width: 100%;
                height: 45px;
                border: 1px solid rgba(0,0,0,.14);
                border-radius: 2px;
                width: 100%;
                display: flex;
                padding: 3px 10px 0 10px;
                overflow: hidden;
                box-shadow: inset 0 2px 0 rgb(0 0 0 / 2%);
                outline: none;
                justify-content: space-between;
            }

                .box-login-form .box-input-login i {
                    width: auto;
                    font-size: 18px;
                    padding: 10px 0 8px 12px;
                    cursor: pointer;
                }

                .box-login-form .box-input-login #show_password {
                    color: #05a;
                }

            .box-login-form .btn-login {
                width: 100%;
                margin-top: 20px;
                height: 45px;
                font-size: 17px;
            }
            .box-login-form .box-lable-login {
                margin-top: 5px;
                /*Chia đều khoảng và cái đứa cái cuối về sát lề*/
                display: flex;
                justify-content: space-between;
                color: #05a;
            }
                .box-login-form .box-lable-login a {
                    color: #05a;
                }

            .box-login-form .box-describe {
                margin-top: 20px;
                text-transform: uppercase;
                font-size: .75rem;
                display: flex;
            }
                .box-login-form .box-describe span {
                    margin: 0 5px 0 5px;
                    font-size: 11px;
                }
                .box-login-form .box-describe .slim-line {
                    margin-top: 7px;
                    height: 1.5px;
                    background-color: #ccc;
                }
            .box-login-form .box-register {
                margin-top: 40px;
                align-items: center;
                display: flex;
                justify-content: center;
                width: 100%;
            }
                .box-login-form .box-register a {
                    margin-left: 5px;
                    color: #ee4d2d;
                }
            /*Ghi đè class*/
            .box-login-form .box-input-login input:focus {
                outline: none;
            }
    </style>
</head>
<body>
    <div class="box-login-form">
        <form role="form" method="post">
            <div class="header">
                Đăng nhập
            </div>

            <div id="box_login_form_account" class="box-input-login">
                <input id="userName" name="UserName" required maxlength="10" placeholder="Số Điện Thoại">
            </div>
            <div id="box_login_form_password" class="box-input-login">
                <input type="password" id="password" name="Password" required maxlength="50" placeholder="Mật Khẩu" />
                <i id="hide_password" class="icon-show-password fa fa-eye-slash" aria-hidden="true"></i>
                <i id="show_password" style="display:none;" class="icon-show-password fa fa-eye" aria-hidden="true"></i>
            </div>
            <span class="validate-error" id="alert_login"></span>
            <button class="btn-login btn-core-accept">Đăng nhập</button>

            <div class="box-lable-login">
                <a href="/Account/ForgotPassword">Quên mật khẩu</a>
                <a href="/Account/LoginBySMS">Đăng nhập với SMS</a>
            </div>
            <div class="box-describe">
                <div class="slim-line">
                </div>
                <span>Hoặc</span>
                <div class="slim-line">
                </div>
            </div>
            <div class="box-register">
                Bạn mới biết đến Seafood?
                <a href="">Đăng ký</a>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function ()
        {
            if ('@ViewBag.Message' != '')
            {
                $('#alert_login').html('@ViewBag.Message');
                $('#alert_login').fadeIn(500);
                setTimeout("$('#alert_login').fadeOut(1500);", 5000 );
            };
        });
        //Setup
        $('#userName').on('focus', function () {
            document.getElementById("box_login_form_account").style.borderColor = "rgb(7, 171, 226)";
        });
        $('#userName').on('blur', function () {
            document.getElementById("box_login_form_account").style.borderColor = "rgba(0,0,0,.14)";
        });
        $('#password').on('focus', function () {
            document.getElementById("box_login_form_password").style.borderColor = "rgb(7, 171, 226)";
        });
        $('#password').on('blur', function () {
            document.getElementById("box_login_form_password").style.borderColor = "rgba(0,0,0,.14)";
        });
        //Setup
        $('.icon-show-password').click(function (e) {
            var dom = this;
            if (dom.id == 'hide_password')
            {
                document.getElementById("show_password").style.display = "block";
                document.getElementById("hide_password").style.display = "none";
                document.getElementById("password").setAttribute('type', 'text');
            }
            else
            {
                document.getElementById("show_password").style.display = "none";
                document.getElementById("hide_password").style.display = "block";
                document.getElementById("password").setAttribute('type', 'password');
            }
        });
    </script>
</body>
</html>
