
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seafood</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/js")
    <link href="~/assets/css/theme.css" rel="stylesheet" />
    <script src="~/assets/js/constant.js"></script>
    <!--css, js bootstrap -->
    <link href="~/Content/fa/font-awesome.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .box-header {
            width: 100%;
            height: 84px;
            box-shadow: 0 6px 6px rgb(0 0 0 / 6%);
            background-color: rgb(7, 171, 226);
            position: relative;
        }

            .box-header .seafood {
                max-width: 1200px;
                color: white;
                font-family: cursive;
                cursor: pointer;
                font-size: 28px;
                position: absolute;
                left: 15%;
                top: 20px;
            }

        .login-form {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 0 auto;
            margin-top: 5%;
            width: 100%;
            max-width: 450px;
            background-color: white;
            box-shadow: 0 6px 6px rgb(0 0 0 / 6%);
            padding: 30px;
        }

            .login-form .header {
                width: 100%;
                font-size: 25px;
            }


            .login-form .box-input-login {
                margin-top: 20px;
                background-color: white;
                box-sizing: border-box;
                width: 100%;
                height: 45px;
                border: 1px solid rgba(0,0,0,.14);
                border-radius: 2px;
                width: 100%;
                display: flex;
                padding: 3px 10px 0 10px;
                overflow: hidden;
                box-shadow: inset 0 2px 0 rgb(0 0 0 / 2%);
                outline: none;
                justify-content: space-between;
            }

                .login-form .box-input-login i {
                    width: auto;
                    font-size: 18px;
                    padding: 10px 0 8px 12px;
                    cursor: pointer;
                }

                .login-form .box-input-login input {
                    flex: 1;
                    border: 0px solid transparent;
                    font-size: 17px;
                }
            .login-form .btn-login {
                width: 100%;
                margin-top: 20px;
                height: 45px;
                font-size: 17px;
            }
            .login-form .box-lable-login {
                margin-top: 5px;
                /*Chia đều khoảng và cái đứa cái cuối về sát lề*/
                display: flex;
                justify-content: space-between;
                color: #05a;
            }
                .login-form .box-lable-login a {
                    color: #05a;
                }

            .login-form .box-describe {
                margin-top: 20px;
                text-transform: uppercase;
                font-size: .75rem;
                display: flex;
            }
                .login-form .box-describe span {
                    margin: 0 5px 0 5px;
                    font-size: 11px;
                }
                .login-form .box-describe .slim-line {
                    margin-top: 7px;
                    height: 1.5px;
                    background-color: #ccc;
                }
            .login-form .box-register {
                margin-top: 40px;
                align-items: center;
                display: flex;
                justify-content: center;
                width: 100%;
            }
                .login-form .box-register a {
                    margin-left: 5px;
                    color: #ee4d2d;
                }
            /*Ghi đè class*/
            ::placeholder {
                font-size: 15px !important;
            }
        .login-form .box-input-login input:focus {
            outline: none;
        }
    </style>
</head>
<body style="background-color: #dee8fc;">
    <div id="loading" style="display:none">
        <img id="loadingImg" src="~/assets/images/icon/ajax-loader.gif" alt="Alternate Text" />
    </div>
    <div class="box-header">
        <div class="seafood">
            Seafood.com.vn
        </div>
    </div>
    <form>
        <div class="login-form">
            <div class="header">
                Đăng nhập
            </div>
            <div id="box_login_form_account" class="box-input-login">
                <input id="login_form_account" maxlength="10" placeholder="Số điện thoại">
            </div>
            <div id="box_login_form_password" class="box-input-login">
                <input type="password" id="login_form_password" placeholder="Mật khẩu" />
                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                <i style="display:none;" class="fa fa-eye" aria-hidden="true"></i>
            </div>
            <button class="btn-login btn-core-accept">Đăng nhập</button>
            <div class="box-lable-login">
                <a href="">Quên mật khẩu</a>
                <a href="">Đăng nhập với SMS</a>
            </div>
            <div class="box-describe">
                <div class="slim-line">
                </div>
                <span>Hoặc</span>
                <div class="slim-line">
                </div>
            </div>
            <div class="box-register">
                Bạn mới biết đến Seafood?
                <a href="">Đăng ký</a>
            </div>
        </div>
    </form>
    <script>
        //Setup
        $('#login_form_account').on('focus', function () {
            document.getElementById("box_login_form_account").style.borderColor = "rgb(7, 171, 226)";
        });
        $('#login_form_account').on('blur', function () {
            document.getElementById("box_login_form_account").style.borderColor = "rgba(0,0,0,.14)";
        });
        $('#login_form_password').on('focus', function () {
            document.getElementById("box_login_form_password").style.borderColor = "rgb(7, 171, 226)";
        });
        $('#login_form_password').on('blur', function () {
            document.getElementById("box_login_form_password").style.borderColor = "rgba(0,0,0,.14)";
        });
        function showLoadingNavigatePage(delayInMilliseconds) {
            $("#loading").show();
            setTimeout(function () {
                $("#loading").hide();
            }, delayInMilliseconds);
        }
        //Setup
        $('.box-header .seafood').click(function (e) {
             showLoadingNavigatePage(5000);
             window.location = "/Home/Seafood";
        });
        $('.login-form .login').click(function (e) {
            window.location = "/Home/Seafood";
        });
    </script>

</body>
</html>
