@using Domain.Models.ParameterModel;
@{
    Layout = "~/Views/Account/_LayoutAccount.cshtml";
}

@model LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <link href="~/assets/css/demo/account/login.css" rel="stylesheet" />
    <style>
        /*Ghi đè tự động điền*/
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            /*background*/
            -webkit-box-shadow: 0 0 0 30px white inset !important;
        }
        input:-webkit-autofill {
            /*color*/
            -webkit-text-fill-color: none !important;
        }
        /*Ghi đè class*/
        .box-login-form .box-input-login input:focus {
            outline: none;
        }

    </style>
</head>
<body>
    <div class="box-login-form">
        <form role="form" method="post">
            <div class="header">
                Đăng nhập
            </div>

            <div id="box_login_form_account" class="box-input-login">
                <input id="userName" name="UserName" required maxlength="10" placeholder="Số Điện Thoại" value="@Model.UserName">
            </div>
            <div id="box_login_form_password" class="box-input-login">
                <input type="password" id="password" name="Password" required maxlength="50" placeholder="Mật Khẩu" value="@Model.Password"/>
                <i id="hide_password" class="icon-show-password fa fa-eye-slash" aria-hidden="true"></i>
                <i id="show_password" style="display:none;" class="icon-show-password fa fa-eye" aria-hidden="true"></i>
            </div>
            <span class="validate-error" id="alert_login"></span>
            <button class="btn-login btn-core-accept">Đăng nhập</button>

            <div class="box-lable-login">
                <a href="/Account/ForgotPassword">Quên mật khẩu</a>
                @*<a href="/Account/LoginBySMS">Đăng nhập với SMS</a>*@
            </div>
            <div class="box-describe">
                <div class="slim-line">
                </div>
                <span>Hoặc</span>
                <div class="slim-line">
                </div>
            </div>
            <div class="box-register">
                Bạn mới biết đến Seafood?
                <a href="/Account/RegisterAccount">Đăng ký</a>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function ()
        {
            if ('@ViewBag.Message' != '')
            {
                $('#alert_login').html('@ViewBag.Message');
                $('#alert_login').fadeIn(500);
                setTimeout("$('#alert_login').fadeOut(1500);", 5000 );
            };
        });
        //Setup
        $('#userName').on('focus', function () {
            document.getElementById("box_login_form_account").style.borderColor = "rgb(7, 171, 226)";
        });
        $('#userName').on('blur', function () {
            document.getElementById("box_login_form_account").style.borderColor = "rgba(0,0,0,.14)";
        });
        $('#password').on('focus', function () {
            document.getElementById("box_login_form_password").style.borderColor = "rgb(7, 171, 226)";
        });
        $('#password').on('blur', function () {
            document.getElementById("box_login_form_password").style.borderColor = "rgba(0,0,0,.14)";
        });
        //Setup
        $('.icon-show-password').click(function (e) {
            var dom = this;
            if (dom.id == 'hide_password')
            {
                document.getElementById("show_password").style.display = "block";
                document.getElementById("hide_password").style.display = "none";
                document.getElementById("password").setAttribute('type', 'text');
            }
            else
            {
                document.getElementById("show_password").style.display = "none";
                document.getElementById("hide_password").style.display = "block";
                document.getElementById("password").setAttribute('type', 'password');
            }
        });
    </script>
</body>
</html>
