
@{
    Layout = "~/Views/Account/_LayoutAccount.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .login-form {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 0 auto;
            margin-top: 5%;
            width: 100%;
            max-width: 450px;
            background-color: white;
            box-shadow: 0 6px 6px rgb(0 0 0 / 6%);
            padding: 30px;
        }

            .login-form .header {
                width: 100%;
                font-size: 25px;
            }


            .login-form .box-input-login {
                margin-top: 20px;
                background-color: white;
                box-sizing: border-box;
                width: 100%;
                height: 45px;
                border: 1px solid rgba(0,0,0,.14);
                border-radius: 2px;
                width: 100%;
                display: flex;
                padding: 3px 10px 0 10px;
                overflow: hidden;
                box-shadow: inset 0 2px 0 rgb(0 0 0 / 2%);
                outline: none;
                justify-content: space-between;
            }

                .login-form .box-input-login i {
                    width: auto;
                    font-size: 18px;
                    padding: 10px 0 8px 12px;
                    cursor: pointer;
                }

                .login-form .box-input-login input {
                    flex: 1;
                    border: 0px solid transparent;
                    font-size: 17px;
                }
            .login-form .btn-login {
                width: 100%;
                margin-top: 20px;
                height: 45px;
                font-size: 17px;
            }
            .login-form .box-lable-login {
                margin-top: 5px;
                /*Chia đều khoảng và cái đứa cái cuối về sát lề*/
                display: flex;
                justify-content: space-between;
                color: #05a;
            }
                .login-form .box-lable-login a {
                    color: #05a;
                }

            .login-form .box-describe {
                margin-top: 20px;
                text-transform: uppercase;
                font-size: .75rem;
                display: flex;
            }
                .login-form .box-describe span {
                    margin: 0 5px 0 5px;
                    font-size: 11px;
                }
                .login-form .box-describe .slim-line {
                    margin-top: 7px;
                    height: 1.5px;
                    background-color: #ccc;
                }
            .login-form .box-register {
                margin-top: 40px;
                align-items: center;
                display: flex;
                justify-content: center;
                width: 100%;
            }
                .login-form .box-register a {
                    margin-left: 5px;
                    color: #ee4d2d;
                }
            /*Ghi đè class*/
            ::placeholder {
                font-size: 15px !important;
            }
        .login-form .box-input-login input:focus {
            outline: none;
        }
    </style>
</head>
<body>
    <div class="login-form">
        <div class="header">
            Đăng nhập
        </div>
        <div id="box_login_form_account" class="box-input-login">
            <input required id="login_form_account" maxlength="10" placeholder="Số điện thoại">
        </div>
        <div id="box_login_form_password" class="box-input-login">
            <input required type="password" id="login_form_password" placeholder="Mật khẩu" />
            <i class="fa fa-eye-slash" aria-hidden="true"></i>
            <i style="display:none;" class="fa fa-eye" aria-hidden="true"></i>
        </div>
        <button class="btn-login btn-core-accept">Đăng nhập</button>
        <div class="box-lable-login">
            <a href="">Quên mật khẩu</a>
            <a href="">Đăng nhập với SMS</a>
        </div>
        <div class="box-describe">
            <div class="slim-line">
            </div>
            <span>Hoặc</span>
            <div class="slim-line">
            </div>
        </div>
        <div class="box-register">
            Bạn mới biết đến Seafood?
            <a href="">Đăng ký</a>
        </div>
    </div>
    <script>
        //Setup
        $('#login_form_account').on('focus', function () {
            document.getElementById("box_login_form_account").style.borderColor = "rgb(7, 171, 226)";
        });
        $('#login_form_account').on('blur', function () {
            document.getElementById("box_login_form_account").style.borderColor = "rgba(0,0,0,.14)";
        });
        $('#login_form_password').on('focus', function () {
            document.getElementById("box_login_form_password").style.borderColor = "rgb(7, 171, 226)";
        });
        $('#login_form_password').on('blur', function () {
            document.getElementById("box_login_form_password").style.borderColor = "rgba(0,0,0,.14)";
        });
        //Setup
        $('.box-header .seafood').click(function (e) {
             showLoadingNavigatePage(5000);
             window.location = "/Home/Seafood";
        });
        $('.login-form .login').click(function (e) {
            window.location = "/Home/Seafood";
        });
    </script>

</body>
</html>
