
@{
    Layout = "~/Views/Account/_LayoutAccount.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/account/register-account.css" rel="stylesheet" />
    <style>
        /*Ghi đè class*/
        .box-register-account .box-input-login input:focus {
            outline: none;
        }
    </style>
</head>
<body>
    <div class="box-register-account-form">
        <div class="header">
            Đăng ký tài khoản
        </div>

        <div>
            <div id="box_login_form_number" class="box-input-login">
                <input id="number" maxlength="10" placeholder="Số Điện Thoại">
            </div>
            <span class="validate-error" id="alert_verify_number"></span>
            <div id="box_login_form_password" class="box-input-login">
                <input id="password" type="password" maxlength="100" placeholder="Mật khẩu">
            </div>
            <span class="validate-error" id="alert_verify_password"></span>
            <div id="box_login_form_confirm_password" class="box-input-login">
                <input id="confirm_password" type="password" maxlength="100" placeholder="Nhập lại mật khẩu">
            </div>
            <span class="validate-error" id="alert_verify_confirm_password"></span>
            <button id="send" class="btn-login btn-core-accept" onclick="registerAccount()">Đăng ký</button>
        </div>       
        <div class="box-describe">
            <div class="slim-line">
            </div>
            <span>Hoặc</span>
            <div class="slim-line">
            </div>
        </div>
        <div class="box-register">
            Bạn đã có tài khoản?
            <a href="/Account/Login">Đăng nhập</a>
        </div>
    </div>
    <script>
        $(document).ready(function ()
        {
            $('#number').on('focus', function () {
                document.getElementById("box_login_form_number").style.borderColor = "rgb(7, 171, 226)";
            });
            $('#number').on('blur', function () {
                document.getElementById("box_login_form_number").style.borderColor = "rgba(0,0,0,.14)";
            });
            $('#password').on('focus', function () {
                document.getElementById("box_login_form_password").style.borderColor = "rgb(7, 171, 226)";
            });
            $('#password').on('blur', function () {
                document.getElementById("box_login_form_password").style.borderColor = "rgba(0,0,0,.14)";
            });
            $('#confirm_password').on('focus', function () {
                document.getElementById("box_login_form_confirm_password").style.borderColor = "rgb(7, 171, 226)";
            });
            $('#confirm_password').on('blur', function () {
                document.getElementById("box_login_form_confirm_password").style.borderColor = "rgba(0,0,0,.14)";
            });
        });

        function registerAccount() {
            ShowOverlay(true);
            var number = document.getElementById('number').value;
            var password = document.getElementById('password').value;
            var confirm_password = document.getElementById('confirm_password').value;
            $.ajax({
                type: "POST",
                traditional: true,
                data:
                {
                    "number": number,
                },
                url: "@Url.Action("CheckUserByPhoneNumber", "Account")",
                success: function (data)
                {
                    hideOverlay();
                    if (!data.Success) {
                        $('#alert_verify_number').html(data.Message);
                        $('#alert_verify_number').fadeIn(500);
                        setTimeout("$('#alert_verify_number').fadeOut(1500);", 5000);
                        return;
                    }
                    else if (data.Success && data.Data != null)
                    {
                        $('#alert_verify_number').html('Số điện thoại đã đăng ký');
                        $('#alert_verify_number').fadeIn(500);
                        setTimeout("$('#alert_verify_number').fadeOut(1500);", 5000);
                        return;
                    }
                    continueRegisterAccount(number, password, confirm_password);
                },
            })
        }
        function continueRegisterAccount(number, password, confirm_password)
        {
            ShowOverlay(true);
            if (isNullOrEmpty(password))
            {
                hideOverlay();
                $('#alert_verify_password').html('Nhập mật khẩu');
                $('#alert_verify_password').fadeIn(500);
                setTimeout("$('#alert_verify_password').fadeOut(1500);", 5000);
                return;
            }
            if (password != confirm_password)
            {
                hideOverlay();
                $('#alert_verify_confirm_password').html('Mật khẩu nhập lại chưa chính xác');
                $('#alert_verify_confirm_password').fadeIn(500);
                setTimeout("$('#alert_verify_confirm_password').fadeOut(1500);", 5000);
                return;
            }

            $.ajax({
                type: "POST",
                traditional: true,
                data:
                {
                    "numberPhone": number,
                    "password": password,

                },
                url: "@Url.Action("CreateAccount", "Account")",
                success: function (data)
                {
                    hideOverlay();
                    if (data.Success && data.Data != null)
                    {
                        window.location = "/Home/Seafood";
                    }
                    else
                    {
                        showToasinette_Error_Top_Right('Lỗi đăng ký');
                    }
                },
            })
        }
    </script>
</body>
</html>
