

/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}

*{
	box-sizing: border-box;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
	.carousel-caption {
		display: none;
	}
}
