/*Responesive*/
@media only screen and (max-width: 900px) {
    .headerLayout1_flex1 {
        display:none;
    }
    .headerLayout1_flex2 {
        display: none;
    }
    .headerLayout1_flex3 {
        display: none;
    }
    .headerLayout1_flex3 {
        display: none;
    }
}
@media only screen and (max-width: 750px) {
    #crab2HeaderBtn {
        display: none;
    }
    #bebeHeaderBtn {
        display: none;
    }
    #oystersHeaderBtn {
        display: none;
    }

    #clamsHeaderBtn {
        display: none;
    }
    .tailLayout_flex2 {
        display: none;
    }
}
@media only screen and (min-width: 750px) {
    #headerBtnList {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    #doKhoHeaderBtn {
        display: none;
    }
    #nuocMamHeaderBtn {
        display: none;
    }
}
/*headerLayout1*/

.headerLayout1 {
    background: #cd1818;
    background: rgb(7, 171, 226);
    height: 50px;
    padding: 5px;
    color: white;
}

.headerLayout1_flex1 {
    text-align: right;
    font-family: cursive;
    padding: 5px 0 5px 10px;
    margin: 0 20px 0 0;
    cursor: pointer;
}

.headerLayout1_flex2 {
    min-width: 200px;
}

.headerLayout1_flex3 {
    align-items: center;
    background-color: #3b5898;
    text-align: center;
    cursor: pointer;
    min-width: 40px;
}

.headerLayout1_flex4 {
    padding: 0 2px 0 2px;
    margin: 0 20px 0 20px;
    text-align: center;
    cursor: pointer;
    min-width: 100px;
}

    .headerLayout1_flex4:hover {
        background: hsla(0,0%,100%,.2);
        border-radius: 10px;
    }

.headerLayout1_flex5 {
    padding: 0 2px 0 2px;
    text-align: center;
    cursor: pointer;
    min-width: 100px;
}

    .headerLayout1_flex5:hover {
        background: hsla(0,0%,100%,.2);
        border-radius: 10px;
    }

.headerLayout1_flex6 {
    margin: 0 20px 0 20px;
    text-align: center;
    cursor: pointer;
    background: hsla(0,0%,100%,.2);
    border-radius: 10px;
    min-width: 100px;
}

/*headerLayout2*/

.headerLayout2 {
    background-color: #dee8fc;
    color: #3b5898;
}

.headerLayout2_btn {
    padding: 2.5px 10px 2.5px 10px;
    letter-spacing: 1px;
    vertical-align: middle;
    text-align: center;
    color: inherit;
    background-color: inherit;
    border: none;
    float: left;
    width: auto;
    font-size: 17px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

    .headerLayout2_btn:hover {
        background: hsla(0,0%,100%,.2);
        font-weight: bold;
        text-decoration-color: none;
    }

.headerLayout2_icon {
    padding: 2.5px 10px 2.5px 10px;
    display: flex;
    cursor: pointer;
    font-size: 22px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* giữa trên dưới trái phải*/
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

    .headerLayout2_icon:hover {
        background: hsla(0,0%,100%,.2);
        font-weight: bold;
        text-decoration-color: none;
        font-size: 25px;
    }
/*tailLayout*/

.tailLayout {
    background-color: #dee8fc;
    display: flex;
}

.tailLayout_text {
    font-size: 15px;
    color: #4a4a4a;
    font-weight: 700;
    line-height: 1.4 !important;
}

.tailLayout_number {
    font-size: 20px;
    color: #d0021b;
    font-weight: 700;
}

.tailLayout_div_number {
    display: flex;
    text-align: center;
    align-items: center;
}
