
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Domain.Models.ResponseModel.ProdDetailt
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/detailt.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <style>

        /*ghi đè class*/
        /*slick-slide*/
        .slick-slide img {
            width: 100%;
        }    

        .slick-next:before, .slick-prev:before {
            font-size: 20px;
            line-height: 1;
            opacity: .75;
            color: rgb(7, 171, 226);
        }

        .slick-next:before {
            margin-left: -15px;
        }

        .slick-prev:before {
            margin-right: -13px;
        }

    </style>
</head>

<body>
    <div class="body-detailt">
        <div class="prod-name">
            <h1>Tôm chiên trắng (loại 1 kg 50 con)</h1>
            @if (Model != null)
            {
                if (Model.ReviewProd == null || Model.ReviewProd == 0)
                {
                    <h6>Chưa có đánh giá</h6>
                }
                else if (Model.ReviewProd == 1)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                }
                else if (Model.ReviewProd == 1.5)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                }
                else if (Model.ReviewProd == 2)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                }
                else if (Model.ReviewProd == 2.5)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                }
                else if (Model.ReviewProd == 3)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                }
                else if (Model.ReviewProd == 3.5)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                }
                else if (Model.ReviewProd == 4)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                }
                else if (Model.ReviewProd == 4.5)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                }
                else if (Model.ReviewProd >= 5)
                {
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                }
            }
            else
            {
                <h6>Chưa có đánh giá</h6>
            }
        </div>
        <div class="slim-line">

        </div>
        <div class="prod-detailt-main row">
            <div class="col-md-4 col-sm-12 menu">
                <div class="prod-detailt-main-img slider slider-for">
                    <div>
                        <img src="~/assets/images/oyster.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/4/h/4h43.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="~/assets/images/crab.jpg" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/4/h/4h43.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="~/assets/images/logos/r-logo_login.jpg" alt="Alternate Text" />
                    </div>
                </div>
                <div style="margin-top: -10px; margin-left: -10px; cursor: pointer;" class="slider slider-nav">
                    <div>
                        <img src="~/assets/images/oyster.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/4/h/4h43.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="~/assets/images/crab.jpg" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/4/h/4h43.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="~/assets/images/logos/r-logo_login.jpg" alt="Alternate Text" />
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="block-box-price">
                    <div class="box-info__installment">
                        Ưu đãi 10%
                    </div>
                    <div class="box-info__box-price">
                        <div class="product__price--show">
                            1.235.000 đ
                        </div>
                        <div class="product__price--through">
                            1,111,500 đ
                        </div>
                    </div>
                </div>
                <div class="list-linked">
                    <div style="border: 1px solid rgb(7, 171, 226); " class="linked-undefined">
                        <strong>Để nguyên</strong>
                        <div class="active">
                            ✓
                        </div>
                    </div>
                    <div class="linked-undefined">
                        <strong>chế biến sẵn </strong>
                        <span>+ 30.000 đ</span>
                    </div>
                    <div class="linked-undefined">
                        <strong>chế biến lẩu </strong>
                        <span>+ 30.000 đ</span>
                    </div>
                    <div class="linked-undefined">
                        <strong>chế biến nướng</strong>
                        <span>+ 30.000 đ</span>
                    </div>
                    <div class="linked-undefined">
                        <strong>Theo yêu cầu</strong>
                        <span>liên hệ</span>
                    </div>
                </div>
                <div class="box-product-promotion">
                    <div class="box-product-promotion-header">
                        <i class="fa-solid fa-gift"></i>
                        <h1>Khuyến mãi</h1>
                    </div>
                    <div class="box-product-promotion-content">
                        <div class="box-product-promotion-number">
                            1
                        </div>
                        <div class="box-product-promotion-detail">
                            Mua từ 2 kg được miến phí ship trong 5 km, trên 5 km được giảm 20.000 đ tiền ship. Ship thần tốc khi áp dụng voucher
                        </div>
                    </div>
                    <div class="box-product-promotion-content">
                        <div class="box-product-promotion-number">
                            2
                        </div>
                        <div class="box-product-promotion-detail">
                            mua từ 4 kg được tặng 1 cân hàu sống, và miễn phí ship trong phạm vi 7 km
                        </div>
                    </div>
                </div>
                <div class="order-add-to-cart">
                    <button>
                        <strong>MUA NGAY</strong> <br />
                        <span>(Giao tận nơi hoặc lấy tại cửa hàng)</span>
                    </button>
                    <div class="add-to-cart-button">
                        <i class="fa-solid fa-cart-plus"></i>  <br />
                        <div>Thêm vào giỏ</div>
                    </div>
                </div>
                <div class="box-more-promotion">
                    <div class="box-more-promotion-title">
                        ƯU ĐÃI THÊM TỪ SEAFOOD
                    </div>
                    <div class="box-more-promotion-content">
                        <div class="box-more-promotion-content-✓">
                            ✓
                        </div>
                        <div class="box-more-promotion-content-detailt">
                            Tham gia tích lũy cùng Seafood, với tổng tiền mua đơn trong 1.000.000 đ được miễn phí ship trong 5 km áp dụng dụng cho hóa đơn từ 200.000 đ
                        </div>
                    </div>
                    <div class="box-more-promotion-content">
                        <div class="box-more-promotion-content-✓">
                            ✓
                        </div>
                        <div class="box-more-promotion-content-detailt">
                            Bạn sẽ được tặng ngay 2 cân ngao và miễn phí 20.000 đ ship âp dụng cho hóa đơn từ 400.000 đ
                        </div>
                    </div>
                    <div class="box-more-promotion-content">
                        <div class="box-more-promotion-content-✓">
                            ✓
                        </div>
                        <div class="box-more-promotion-content-detailt">
                            Bạn sẽ được tặng ngay 1 cân hàu và miễn phí 20.000 đ ship âp dụng cho hóa đơn từ 500.000 đ
                        </div>
                    </div>
                    <div class="box-more-promotion-content">
                        <div class="box-more-promotion-content-✓">
                            ✓
                        </div>
                        <div class="box-more-promotion-content-detailt">
                            Miễn phí ship phạm vi 15 km và giảm 10% áp dụng cho hóa đơn từ 1000.000 đ
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="box-on-stock-options">
                    <div>
                        <select class="box-on-stock-option-region headerLeft_select form-select" aria-label="Default select example">
                            <option selected="selected" value="7">Hà Nội</option>
                            <option value="8">Thanh Hóa</option>
                        </select>
                    </div>
                    <div>
                        <select class="box-on-stock-option-region headerLeft_select form-select" aria-label="Default select example">
                            <option disabled="disabled" selected="selected">Quận/Huyện</option>
                            <option value="1">
                                Thanh Xuân
                            </option>
                            <option value="4">
                                Thanh Trì
                            </option>
                        </select>
                    </div>
                </div>
                <div class="box-on-stock-count">
                    <p> 
                        Có 
                        <strong>13</strong> 
                        cửa hàng có sản phẩm
                    </p>
                </div>
                <div class="box-on-stock-address">
                    <div class="box-on-stock-item">
                        <div class="has-text-phone">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="has-text-phone">
                            0367823445
                        </div>
                        <div class="has-text-danger">
                            | 117 - 119 Nguyễn Trung Trực, TP. Rạch Giá, Kiên Giang
                        </div>
                    </div>
                    <div style="background-color:white;" class="box-on-stock-item">
                        <div class="has-text-phone">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="has-text-phone">
                            0367823445
                        </div>
                        <div class="has-text-danger">
                            | 117 - 119 Nguyễn Trung Trực, TP. Rạch Giá, Kiên Giang
                        </div>
                    </div>
                    <div class="box-on-stock-item">
                        <div class="has-text-phone">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="has-text-phone">
                            0367823445
                        </div>
                        <div class="has-text-danger">
                            | 117 - 119 Nguyễn Trung Trực, TP. Rạch Giá, Kiên Giang
                        </div>
                    </div>
                    <div style="background-color:white;" class="box-on-stock-item">
                        <div class="has-text-phone">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="has-text-phone">
                            0367823445
                        </div>
                        <div class="has-text-danger">
                            | 117 - 119 Nguyễn Trung Trực, TP. Rạch Giá, Kiên Giang
                        </div>
                    </div>
                    <div class="box-on-stock-item">
                        <div class="has-text-phone">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="has-text-phone">
                            0367823445
                        </div>
                        <div class="has-text-danger">
                            | 117 - 119 Nguyễn Trung Trực, TP. Rạch Giá, Kiên Giang
                        </div>
                    </div>
                    <div style="background-color:white;" class="box-on-stock-item">
                        <div class="has-text-phone">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="has-text-phone">
                            0367823445
                        </div>
                        <div class="has-text-danger">
                            | 117 - 119 Nguyễn Trung Trực, TP. Rạch Giá, Kiên Giang
                        </div>
                    </div>
                </div>
                <div class="box-warranty-info">
                    <p>Thông tin sản phẩm</p>
                    <div class="item-warranty-info">
                        <i class="fa-solid fa-shrimp"></i>
                        <div>
                            Mua từ 2 kg được miến phí ship trong 5 km, trên 5 km được giảm 20.000 đ tiền ship. Ship thần tốc khi áp dụng voucher
                        </div>
                    </div>
                    <div class="item-warranty-info">
                        <i class="fa-solid fa-shrimp"></i>
                        <div>
                            Mua từ 2 kg được miến phí ship trong 5 km, trên 5 km được giảm 20.000 đ tiền ship. Ship thần tốc khi áp dụng voucher
                        </div>
                    </div>
                    <div class="item-warranty-info">
                        <i class="fa-solid fa-shrimp"></i>
                        <div>
                            Mua từ 2 kg được miến phí ship trong 5 km, trên 5 km được giảm 20.000 đ tiền ship. Ship thần tốc khi áp dụng voucher
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.slider-nav'
        });
        $('.slider-nav').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: true,
            focusOnSelect: true
        });

        $('a[data-slide]').click(function (e) {
            e.preventDefault();
            var slideno = $(this).data('slide');
            $('.slider-nav').slick('slickGoTo', slideno - 1);
        });
    </script>
</body>
</html>
