.heading {
    margin: 20px 0px 15px;
}

.box-address-edit {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 30px 0 20px 30px;
}

    .box-address-edit .form-control-address-add {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin: 0px 0px 15px;
        padding: 0 20px 0 20px;
    }

        .box-address-edit .form-control-address-add .label-address {
            width: 120px;
            min-width: 110px;
            font-size: 14px;
        }

        .box-address-edit .form-control-address-add .input-address {
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
            border: 1px solid rgb(204, 204, 204);
            width: calc(100% - 160px);
            border-radius: 4px;
            height: 34px;
            padding: 6px 12px;
            line-height: 34px;
            outline: none;
            color: black;
        }

        .box-address-edit .form-control-address-add .textarea-address {
            color: black;
            border: 1px solid rgb(204, 204, 204);
            border-radius: 4px;
            width: calc(100% - 160px);
            padding: 6px 12px;
        }

        .box-address-edit .form-control-address-add select {
            cursor: pointer;
            font-size: 15px;
            width: calc(100% - 160px);
            border: 1px solid rgb(204, 204, 204);
            height: 34px;
            padding: 0 12px;
            line-height: 34px;
            outline: none;
            border-radius: 4px;
            box-shadow: none;
            color: black;
        }

        .box-address-edit .form-control-address-add .box-check-radio-option {
            gap: 10px;
            display: flex;
            width: calc(100% - 160px);
        }

            .box-address-edit .form-control-address-add .box-check-radio-option input[type=checkbox], input[type=radio] {
                margin: 4px 0 0;
                margin-top: 1px\9;
                line-height: normal;
                width: 22px;
                height: 22px;
                cursor: pointer;
            }

            .box-address-edit .form-control-address-add .box-check-radio-option label {
                font-size: 13px;
                line-height: 2.3;
            }

        .box-address-edit .form-control-address-add .box-click-continue {
            gap: 10px;
            display: flex;
            width: calc(100% - 160px);
        }
