
/*Responesive*/
@media only screen and (max-width: 1100px) {
    .product__price--show {
        margin-bottom: 0 !important;
        font-size: 13px !important;
    }
    .product__price--through {
        font-size: 11px !important;
    }
    .product__final-prices {
        font-size: 13px !important;
    }
    .amonnt-prod-basket {
        width: 60px !important;
    }
        .amonnt-prod-basket input {
            width: 22px !important;
        }
    .basket-content .info-prod-basket .name-prod {
        font-size: 12px !important;
    }
    .linked-undefined strong {
        font-size: 10px !important;
    }
    .basket-content {
        font-size: 11px !important;
    }
        .basket-content .remote-prod-basket i {
            font-size: 15px !important;
        }
    .basket-header .remote-prod-basket i {
        font-size: 16px !important;
    }
    .basket-header {
        font-size: 12px !important;
    }
    .active {
        width: 16px !important;
        height: 11px !important;
        font-size: 8px !important;
    }
}

@media only screen and (max-width: 600px) {
    .basket-content .info-prod-basket {
        width: 150px !important;
    }
    .linked-undefined {
        width: 100% !important;
    }
    .basket-header .info-prod-basket {
        width: 150px !important;
    }

    .checkbox-fake {
        width: 15px !important;
        height: 15px !important;
        font-size: 13px !important;
        padding-top: 2px !important;
    }
    .basket-content .info-prod-basket .descPromotion {
        height: 25.5px !important;
        line-height: 1.4 !important;
    }

    .product__price--show {
        font-size: 10.5px !important;
    }

    .product__price--through {
        font-size: 8.5px !important;
    }

    .product__final-prices {
        font-size: 10.5px !important;
        margin-left:1px!important;
    }

    .amonnt-prod-basket {
        width: 50px !important;
        margin-left: -3px !important;
    }

        .amonnt-prod-basket input {
            width: 18px !important;
            font-size: 10px !important;
        }
        .amonnt-prod-basket i {
            padding-top: 5px;
            width: 18.5px !important;
            height: 18.5px !important;
        }

    .basket-content .info-prod-basket .name-prod {
        font-size: 10px !important;
    }

    .linked-undefined strong {
        font-size: 8px !important;
    }

    .basket-content {
        font-size: 9px !important;
    }

        .basket-content .remote-prod-basket i {
            font-size: 13px !important;
        }

    .basket-header .remote-prod-basket i {
        font-size: 14px !important;
    }

    .basket-header {
        font-size: 11px !important;
    }

    .active {
        width: 14px !important;
        height: 7px !important;
        font-size: 7px !important;
    }
    .box-amonnt-prod-basket {
       margin-left:5px !important;
    }

    .box-more-promotion-title {
        font-size: 12px !important;
    }

    .box-more-promotion-content-detailt {
        font-size: 11px !important;
    }

    .box-product-promotion-detail {
        font-size: 11px !important;
    }
    .popover-title {
        font-size: 12px !important;
    }
    .box-address-ship .block-header .block-header__title {
        font-size: 14px !important;
    }

    .box-address-ship .block-header .block-header__nav {
        font-size: 14px !important;
    }

    .box-address-ship .customer_info {
        font-size: 13px !important;
    }

    .box-address-ship .address {
        font-size: 13px !important;
    }
    .box-your-voucher .voucher-header {
        font-size: 13px !important;
    }
    .box-your-voucher .show-more {
        font-size: 13px !important;
    }
    .box-your-price .prices__item {
        font-size: 13px !important;
    }
        .box-your-price .prices__item .number-price-value {
            font-size: 15px !important;
        }
    .box-your-price .asa-summary-disclaimer {
        font-size: 12px !important;
    }

    .order-add-to-cart button {
        height: 45px !important;
        margin-bottom: 5px !important;
        padding-top: 3px !important;
    }

        .order-add-to-cart button strong {
            font-size: 14px !important;
        }

        .order-add-to-cart button span {
            font-size: 12px !important;
        }

    .prod-promotion-popover {
        font-size:10px;
    }
}

/*css*/

.container-basket {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px 0 5px;
}

.basket-detailt-main {
    margin-top: 10px;
}

.box-more-promotion {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.box-more-promotion-title {
    font-size: 14px;
    width: 100%;
    padding: 10px;
    background-color: #dee8fc;
    color: rgb(7, 171, 226);
    justify-content: space-between;
    display: flex;
}
    .box-more-promotion-title div span {
        margin-right: 2px;
        cursor: pointer;
    }

        .box-more-promotion-title div span:hover {
            text-decoration: underline;
        }

.box-more-promotion-content {
    min-height: fit-content;
    transition: min-height 1s ease;
    padding: 10px 10px 5px 10px;
    display: flex !important;
    flex-flow: row !important;
    gap: 5px;
}

.box-more-promotion-content-✓ {
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
    font-weight: 600;
    background-color: #5cb85c;
    color: white;
}

.box-more-promotion-content-detailt {
    width: calc(100% - 25px);
    font-size: 12px;
}

.basket-header {
    margin-top: 12px;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    color: rgb(36, 36, 36);
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 12px;
    position: sticky;
    top: 20px;
    z-index: 99;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

    .basket-header div {
        text-align: start;
    }

    .basket-header .info-prod-basket {
        width: 350px;
    }

.basket-content {
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    color: rgb(36, 36, 36);
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 12px;
    /*position: sticky;*/
    top: 20px;
    z-index: 99;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

    .basket-content div {
        text-align: start;
    }

    .basket-content .info-prod-basket {
        display: flex;
        width: 350px;
        gap: 10px;
    }

        .basket-content .info-prod-basket img {
            width: 40%;
        }

        .basket-content .info-prod-basket .info-prod {
            /*Cho vào giữa dòng*/
            display: flex;
            flex-flow: column;
            justify-content: center;
        }

        .basket-content .info-prod-basket .name-prod {
            margin-left: -5px;
            font-size: 13px;
        }

        .basket-content .info-prod-basket .descPromotion {
            margin-top: 5px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            height: 37px;
            position: relative;
            z-index: 10;
        }


    .basket-content .price-prod-basket {
        display: flex;
        margin-left: 5px;
    }

.prod-promotion-popover {
    margin-top: 5px;
    color: rgb(7, 171, 226);
}

.box-product-promotion-content {
    min-height: fit-content;
    transition: min-height 1s ease;
    padding: 5px 0 5px 0;
    display: flex;
    gap: 5px;
}

.box-product-promotion-number {
    text-align: center !important;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
    font-weight: 600;
    background-color: rgb(7, 171, 226);
    color: white;
}

.box-product-promotion-detail {
    width: calc(100% - 25px);
    font-size: 12px;
}

.linked-undefined {
    width: calc(66.66667%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 4px;
    border: 1px solid rgb(7, 171, 226);
    border-radius: 8px;
    background: #fff;
    text-decoration: none;
    color: #444;
    position: relative;
    overflow: hidden;
    grid-gap: 3px;
    gap: 3px;
}

    .linked-undefined strong {
        font-size: 11px;
    }

.active {
    content: "✓";
    width: 18px;
    height: 13px;
    border-radius: 0 0 10px 0;
    background-color: rgb(7, 171, 226);
    color: #fff;
    font-size: 10px;
    padding-left: 4px;
    padding-bottom: 13.5px;
    position: absolute;
    top: 0;
    left: 0;
}

.checkbox-fake {
    height: 18px;
    border: 1px solid rgb(7, 171, 226);
    border-radius: 4px;
    vertical-align: middle;
    vertical-align: middle !important;
    position: relative;
    z-index: 1;
    color: white;
    font-size: 15px;
    font-weight: 900;
    text-align: center !important;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.box-info__box-price {
    text-align: center !important;
}

.product__price--show {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: rgb(36, 36, 36);
}

.product__price--through {
    /*inline-block không đủ kích thước sẽ xuống dòng*/
    /*display: inline-block;*/
    margin: 0 0 0 10px;
    font-size: 13px;
    font-weight: 500;
    text-decoration: line-through;
    color: rgb(153, 153, 153);
}

.product__final-prices {
    color: #d70018;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    display: block;
}

.box-amonnt-prod-basket {
    flex: 1;
    text-align: start;
}

.amonnt-prod-basket {
    display: flex;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

    .amonnt-prod-basket input {
        width: 32px;
        border-right: 1px solid rgb(200, 200, 200);
        border-left: 1px solid rgb(200, 200, 200);
        background: transparent;
        text-align: center;
        font-size: 13px;
        margin: 0;
        padding: 0;
        appearance: none;
        outline: none;
    }

    .amonnt-prod-basket i {
        text-align: center;
        padding-top: 6px;
        flex: 1;
        width: 23px;
        height: 23px;
        display: block;
    }

.box-address-ship {
    padding: 15px;
    border-radius: 8px;
    background-color: white;
}

    .box-address-ship .block-header {
        padding: 0 0 10px 0;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        /*Chia đều khoảng và cái đứa cái cuối về sát lề*/
        justify-content: space-between;
    }

        .box-address-ship .block-header .block-header__title {
            color: rgb(128, 128, 137);
            font-weight: normal;
            margin: 0px;
        }

        .box-address-ship .block-header .block-header__nav {
            color: rgb(7, 171, 226);
            text-decoration: none;
        }

    .box-address-ship .customer_info {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        color: rgb(56, 56, 61);
        margin-bottom: 2px;
        font-size: 15px;
        font-weight: 600;
        line-height: 1.1;
        gap: 20px;
    }

    .box-address-ship .address {
        color: rgb(128, 128, 137);
        font-weight: normal;
    }

        .box-address-ship .address strong {
            color: rgb(7, 171, 226);
        }

.box-your-voucher {
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: white;
}

    .box-your-voucher .voucher-header {
        padding: 0 0 10px 0;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        /*Chia đều khoảng và cái đứa cái cuối về sát lề*/
        justify-content: space-between;
    }

    .box-your-voucher .show-more {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        color: rgb(7, 171, 226);
        font-size: 15px;
        line-height: 20px;
        cursor: pointer;
        gap: 10px;
    }

.box-your-price {
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: white;
}

    .box-your-price .prices__item {
        display: flex;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 15px;
    }

        .box-your-price .prices__item .text-price {
            font-weight: normal;
        }

        .box-your-price .prices__item .number-price {
            color: rgb(128, 128, 137);
            font-weight: normal;
        }

        .box-your-price .prices__item .text-price .text-price-promotion {
            font-weight: normal;
        }

        .box-your-price .prices__item .number-price-promotion {
            font-weight: 600;
        }

        .box-your-price .prices__item .text-price-value {
            font-weight: normal;
        }

        .box-your-price .prices__item .number-price-value {
            color: #d70018;
            font-weight: 600;
            font-size: 17px;
        }

    .box-your-price .asa-summary-disclaimer {
        font-size: 13px;
        color: rgb(128, 128, 137);
        line-height: 16px;
        text-align: justify;
    }

.order-add-to-cart {
    margin-top: 10px;
    display: flex !important;
    justify-content: space-between !important;
}

    .order-add-to-cart button {
        text-align: center;
        align-items: center;
        width: calc(100%);
        height: 60px;
        background: linear-gradient(rgb(7, 171, 226),#3b5898);
        color: #fff;
        border-radius: 10px;
        outline: none;
        border: none;
        margin-bottom: 10px;
        flex-direction: column;
        padding-top: 8px;
    }

        .order-add-to-cart button strong {
            font-size: 16px;
        }

        .order-add-to-cart button span {
            font-size: 14px;
            position: relative;
            display: block;
        }
