
@media only screen and (max-width: 1500px) {
    .slick-next:before, .slick-prev:before {
        display:none;
    }
}

@media only screen and (max-width: 768px) {
    .block-box-price{
        margin-top:10px;
    }
    .box-on-stock-options {
        margin-top: 10px;
    }
}

.block-box-price {
}

.box-info__installment {
    width: fit-content;
    padding: 4px 5px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #d70018;
    background-color: #fef2f2;
    color: #d70018;
    margin-bottom: 10px !important;
}

.box-info__box-price {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.product__price--show {
    display: inline-block;
    margin-bottom: 10px !important;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.1;
    color: #d70018;
}

.product__price--through {
    display: inline-block;
    margin: 0 0 10px 10px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: line-through;
    color: #707070;
    position: relative;
    top: 2px;
}

.list-linked {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.linked-undefined {
    width: calc(33.33333% - 6.66667px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 4px;
    border: 1px solid rgb(7, 171, 226);
    border-radius: 8px;
    background: #fff;
    font-size: 12px;
    text-decoration: none;
    color: #444;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    grid-gap: 3px;
    gap: 3px;
}

.active {
    content: "✓";
    width: 18px;
    height: 13px;
    border-radius: 0 0 10px 0;
    background-color: rgb(7, 171, 226);
    color: #fff;
    font-size: 10px;
    padding-left: 4px;
    padding-bottom: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.box-product-promotion {
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color:white;
}

.box-product-promotion-header {
    grid-gap: 10px;
    gap: 10px;
    height: 42px;
    background-color: #dee8fc;
    color: rgb(7, 171, 226);
    display: flex;
    padding: 10px;
    font-weight: 500;
    text-align: center;
}

    .box-product-promotion-header h1 {
        margin: 2px 10px 0 0;
        font-size: 18px;
        font-weight: 600;
        overflow: hidden;
    }

    .box-product-promotion-header i {
        font-size: 22px;
        font-weight: 600;
        overflow: hidden;
    }

.box-product-promotion-content {
    min-height: fit-content;
    transition: min-height 1s ease;
    padding: 15px 10px 15px 10px;
    padding: 10px 10px 5px 10px;
    display: flex;
    gap: 5px;
}

.box-product-promotion-number {
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
    font-weight: 600;
    background-color: rgb(7, 171, 226);
    color: white;
}

.box-product-promotion-detail {
    width: calc(100% - 25px);
    font-size: 14px;
}

.order-add-to-cart {
    margin-top: 10px;
    display: flex !important;
    justify-content: space-between !important;
}

    .order-add-to-cart button {
        text-align: center;
        align-items: center;
        width: calc(100% - 0px);
        height: 60px;
        background: linear-gradient(rgb(7, 171, 226),#3b5898);
        color: #fff;
        border-radius: 10px;
        outline: none;
        border: none;
        margin-bottom: 10px;
        flex-direction: column;
        padding-top: 8px;
    }

        .order-add-to-cart button strong {
            font-size: 16px;
        }

        .order-add-to-cart button span {
            font-size: 14px;
            position: relative;
            display: block;
        }

.add-to-cart-button {
    height: 60px;
    width: 60px;
    border: 2px solid rgb(7, 171, 226);
    background-color: unset;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

    .add-to-cart-button i {
        margin-top: 10px;
        font-size: 25px;
        color: rgb(7, 171, 226);
    }

    .add-to-cart-button div {
        font-size: 7.5px;
        margin: 0;
        padding: 0;
        color: rgb(7, 171, 226);
        font-weight: 600;
    }

.box-more-promotion {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.box-more-promotion-title {
    font-size: 14px;
    width: 100%;
    padding: 10px;
    background-color: #dee8fc;
    color: rgb(7, 171, 226);
}

.box-more-promotion-content {
    min-height: fit-content;
    transition: min-height 1s ease;
    padding: 10px 10px 5px 10px;
    display: flex;
    gap: 5px;
}

.box-more-promotion-content-✓ {
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
    font-weight: 600;
    background-color: #5cb85c;
    color: white;
}

.box-more-promotion-content-detailt {
    width: calc(100% - 25px);
    font-size: 12px;
}

.box-on-stock-options {
}

.box-on-stock-option-region {
    width: 100%;
    height: 36px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    transition: box-shadow .3s ease-in;
    font-size: 14px;
    background-color: #fff;
}

select {
    font-family: sans-serif !important;
}

.box-on-stock-count {
    font-size: 14px;
    margin-bottom: 5px;
}

.box-on-stock-address {
    width: 100%;
    min-height: 140px;
    max-height: 200px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    overflow-y: scroll;
    background-color: white;
}

.box-on-stock-item {
    padding: 0 10px;
    height: 33px;
    width: 100%;
    gap: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: #dee8fc;
    display: flex !important;
    padding: 0.5rem !important;
    box-sizing: inherit;
    font-family: sans-serif !important;
}

.has-text-phone {
    color: rgb(7, 171, 226) !important;
}

.has-text-danger {
    margin-right: 5px;
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.box-warranty-info {
    margin-top: 10px;
    width: 100%;
    display: inline-block;
    padding: 10px 10px 0;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    background: #fff;
}

    .box-warranty-info p {
        font-size: 16px;
        font-weight: 600;
        color: rgb(7, 171, 226);
        margin-bottom: 10px;
    }

.item-warranty-info {
    display: flex;
    font-size: inherit;
    margin-bottom: 10px;
    gap: 5px;
}

    .item-warranty-info i {
        font-size: 20px;
        color: #5cb85c;
    }

    .item-warranty-info div {
        font-size: 14px;
        margin-top: 2px;
        max-width: calc(100% - 40px);
    }

.container-detailt {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px 0 5px;
}

.prod-name {
    display: flex !important;
    align-items: center !important;
}

    .prod-name h1 {
        color: rgb(7, 171, 226);
        margin: 0 10px 0 0;
        font-size: 18px;
        font-weight: 500;
        line-height: 2;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .prod-name i {
        font-size: 14px;
        color: #f59e0b;
        margin: 0 5px 0 0;
    }

.prod-detailt-main {
    margin-top: 10px;
}

.prod-detailt-main-img {
    height: auto;
    width: 100%;
    display: flex;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%) !important;
    padding: 25px 50px 25px 50px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-align: center;
    overflow: hidden;
}
