
/*primary_main_background-color = rgb(7, 171, 226)*/
/*primary_extra_background-color = #dee8fc*/
/*primary_extra_text-color_price(đỏ tươi) = #d70018*/

/*Responesive*/

@media only screen and (max-width: 900px) {
    .headerLayout1_flex1 {
        display:none;
    }
    .headerLayout1_flex2 {
        display: none;
    }
    .headerLayout1_flex3 {
        display: none;
    }
    .headerLayout1_flex3 {
        display: none;
    }
}
@media only screen and (max-width: 775px) {
    #crab2HeaderBtn {
        display: none;
    }
    #bebeHeaderBtn {
        display: none;
    }
    #oystersHeaderBtn {
        display: none;
    }

    #clamsHeaderBtn {
        display: none;
    }
    .tailLayout_flex2 {
        display: none;
    }
}
@media only screen and (min-width: 775px) {
    #headerBtnList {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    #doKhoHeaderBtn {
        display: none;
    }
    #nuocMamHeaderBtn {
        display: none;
    }
}

/*headerLayout1*/

.headerLayout1 {
    background: #cd1818;
    background: rgb(7, 171, 226);
    height: 50px;
    padding: 5px;
    color: white;
}

.headerLayout1_flex1 {
    align-items: center;
    justify-content: right;
    text-align: right;
    font-family: cursive;
    margin: 0 20px 0 0;
    cursor: pointer;
}

.headerLayout1_flex2 {
    min-width: 200px;
}

.headerLayout1_flex3 {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #3b5898;
    cursor: pointer;
    min-width: 40px;
}

.headerLayout1_flex4 {
    padding: 0 2px 0 2px;
    margin: 0 20px 0 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    min-width: 100px;
    width: 100px;
    display: flex;
}

    .headerLayout1_flex4:hover {
        background: hsla(0,0%,100%,.2);
        border-radius: 10px;
    }

.headerLayout1_flex5 {
    position: relative;
    padding: 0 2px 0 2px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    min-width: 100px;
    width: 100px;
    display: flex;
}

    .headerLayout1_flex5:hover {
        background: hsla(0,0%,100%,.2);
        border-radius: 10px;
    }
    .headerLayout1_flex5 span {
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: white;
        text-align: center;
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #d70018;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        top: -2px;
        left: 20px;
        border-radius: 50%;
    }
.header-layout1-login {
    margin: 0 20px 0 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background: hsla(0,0%,100%,.2);
    border-radius: 10px;
    width: 100px;
    min-width: 100px;
}
    .header-layout1-login i {
        font-size: 17.5px;
        margin-top: 5px;
    }
    .header-layout1-login h6 {
        margin-top: -2.5px;
    }

.header-layout1-account {
    width: auto;
    cursor: pointer;
    margin: 0px 0px 0px 20px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 12px;
    position: relative;
    letter-spacing: 0.7px;
    background: hsla(0,0%,100%,.2);
    border-radius: 10px;
    padding: 5px;
    gap: 5px;
}

    .header-layout1-account .account-icon {
        font-size: 30px;
    }

    .header-layout1-account .account-info {
        display: flex;
        flex-flow: column;
        font-size: 12px;
    }

        .header-layout1-account .account-info .name {
            /*display: flex;*/
        }

            .header-layout1-account .account-info .name i {
                font-size: 10px;
                /*display: flex;*/
            }

.headerLayout1 .popover-content {
    padding: 5px 0 5px 0;
}

.account-manager {
    display: flex;
    flex-flow: column;
    gap: 5px;
    color: black;
    width: 250px;
    padding: 5px 0 5px 0;
}

    .account-manager .item-content {
        cursor: pointer;
        padding: 7px 12px 7px 12px;
        display: flex;
    }

        .account-manager .item-content:hover {
            background-color: #dee8fc;
        }

        .account-manager .item-content i {
            font-size: 20px;
            margin-right: 10px;
            margin-bottom: -5px;
        }

        .account-manager .item-content span {
            margin-left: 5px;
            margin-top: 1px;
            font-size: 11px;
            font-weight: 400;
            color: white;
            text-align: center;
            width: 22px;
            height: 17px;
            background-color: #d70018;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            border-radius: 40%;
        }

        .account-manager .item-content .icon-address {
            color: #d70018;
        }
        .account-manager .item-content .icon-heart {
            color: #d70018;
        }
/*headerLayout2*/

.headerLayout2 {
    background-color: #dee8fc;
    color: #3b5898;
}

.headerLayout2_btn {
    padding: 2.5px 10px 2.5px 10px;
    letter-spacing: 1px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: inherit;
    background-color: inherit;
    border: none;
    float: left;
    width: auto;
    font-size: 17px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

    .headerLayout2_btn:hover {
        background: hsla(0,0%,100%,.2);
        font-weight: bold;
        text-decoration-color: none;
    }

.headerLayout2_icon {
    padding: 2.5px 10px 2.5px 10px;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* giữa trên dưới trái phải*/
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

    .headerLayout2_icon:hover {
        background: hsla(0,0%,100%,.2);
        font-weight: bold;
        text-decoration-color: none;
        font-size: 22.5px;
    }

/*tailLayout*/

.tailLayout {
    margin-top: 10px;
    background-color: #dee8fc;
    display: flex;
}

.tailLayout_text {
    font-size: 15px;
    color: #4a4a4a;
    font-weight: 700;
    line-height: 1.4 !important;
}

.tailLayout_number {
    font-size: 20px;
    color: rgb(7, 171, 226);
    font-weight: 700;
}

.tailLayout_div_number {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: start;
}
