
@media only screen and (max-width: 600px) {
    .name-header-manager-tab {
        font-size: 14px !important;
    }
}

.container-oder {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px 0 5px;
}

.name-header-manager-tab {
    margin-top: 10px;
}

.menu-tab-order {
    display: inline-block;
    width: 100%;
}

    .menu-tab-order li a {
        /*color: rgb(7, 171, 226);*/
        background-color: white;
        margin-bottom: 5px;
    }

.box-search-order {
    margin-top: 10px;
    background-color: white;
    display: flex;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    height: 36px;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(196, 196, 207);
    justify-content: space-between;
}

    .box-search-order i {
        width: auto;
        font-size: 20px;
        padding: 8px 0 8px 12px;
    }

    .box-search-order input {
        flex: 1;
    }

    .box-search-order div {
        background-color: rgb(196, 196, 207);
        width: 1px;
        height: 80%;
        margin: 4px 10px 0 0;
    }

    .box-search-order label {
        width: auto;
        font-weight: 500;
        color: rgb(7, 171, 226);
        cursor: pointer;
        width: auto;
        font-size: 15px;
        padding: 7px 15px 8px 0;
    }

.box-prod-order {
    margin-top: 12px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 13px;
    margin-bottom: 20px;
    padding: 16px;
}

    .box-prod-order .status-prod {
        border-bottom: 1px solid rgb(235, 235, 240);
        padding-bottom: 12px;
        color: rgb(128, 128, 137);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }

        .box-prod-order .status-prod .main-status {
            margin-left: 5px;
            font-size: 15px;
            font-weight: 600;
        }

    .box-prod-order .product {
        display: flex;
        flex-direction: row;
        padding: 16px 0px;
        border-bottom: 1px solid rgb(235, 235, 240);
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

        .box-prod-order .product .detail {
            display: flex;
            gap: 10px;
        }

        .box-prod-order .product .prod-price {
            font-size: 15px;
        }

        .box-prod-order .product .detail .quantity {
            position: relative;
        }

            .box-prod-order .product .detail .quantity img {
                flex-shrink: 0;
                width: 80px;
                height: 80px;
                border-radius: 4px;
                border: 0.5px solid rgb(238, 238, 238);
                background-repeat: no-repeat;
                background-size: 90%;
                background-position: center center;
                position: relative;
            }

            .box-prod-order .product .detail .quantity span {
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
                color: rgb(7, 171, 226);
                text-align: center;
                position: absolute;
                width: 28px;
                height: 28px;
                background-color: rgb(235, 235, 240);
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;
                right: 0px;
                bottom: 0px;
                border-top-left-radius: 10px;
            }

    .box-prod-order .total-price {
        /*Đưa vào cuối hàng*/
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        margin-top: 12px;
        width: 100%;
    }

        .box-prod-order .total-price .content {
            display: flex;
            gap: 5px;
            margin-bottom: 8px;
        }

        .box-prod-order .total-price .click-continue {
            display: flex;
            gap:5px;
        }

        .box-prod-order .total-price .content span {
            font-size: 16px;
        }

        .box-prod-order .total-price .content strong {
            font-size: 16px;
            color: #d70018;
        }
