@media only screen and (max-width: 991px) {
    .row-column1 {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .row-column2 {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .row-column3 {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    [class*='col-md'] {
        margin-bottom: 0;
    }
}

.container-OrderDetail {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px 0 5px;
}

.box-heading {
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.box-head-title {
    border-radius: 8px 8px 0 0;
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
    padding: 10px;
    background-color: #dee8fc;
    color: rgb(7, 171, 226);
    justify-content: space-between;
    display: flex;
}

.box-main-content {
    background-color: rgb(255, 255, 255);
    min-height: fit-content;
    transition: min-height 1s ease;
    padding: 10px 10px 5px 10px;
    display: flex;
    flex-flow: row;
    gap: 5px;
}

    .box-main-content .grid-notification {
        width: 100%;
        display: grid;
        grid-template-columns: 150px auto;
    }

        .box-main-content .grid-notification .grid-item {
            margin-bottom: 5px;
            font-size: 14px;
            text-align: start;
        }

.row-column1 {
    padding-right: 6px;
}

.row-column2 {
    padding-right: 3px;
    padding-left: 3px;
}

.row-column3 {
    padding-left: 6px;
}

.row .box-head-title {
    background-color: white;
    color: rgb(36, 36, 36);
}

.row .box-main-content {
    margin-top: 2px;
    flex-flow: column;
    height: 135px;
}

    .row .box-main-content .name {
        color: rgb(36, 36, 36);
        font-weight: bold;
    }

    .row .box-main-content strong {
        color: rgb(7, 171, 226);
    }

.box-prod-order {
    margin-top: 12px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 13px;
    margin-bottom: 20px;
    padding: 16px;
}

    .box-prod-order .status-prod {
        border-bottom: 1px solid rgb(235, 235, 240);
        padding-bottom: 12px;
        color: rgb(128, 128, 137);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }

        .box-prod-order .status-prod .main-status {
            margin-left: 5px;
            font-size: 15px;
            font-weight: 600;
        }

    .box-prod-order .product {
        display: flex;
        flex-direction: row;
        padding: 16px 0px;
        border-bottom: 1px solid rgb(235, 235, 240);
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

        .box-prod-order .product .detail {
            display: flex;
            gap: 10px;
        }

        .box-prod-order .product .prod-price {
            font-size: 15px;
        }

        .box-prod-order .product .detail .quantity {
            position: relative;
        }

            .box-prod-order .product .detail .quantity img {
                flex-shrink: 0;
                width: 80px;
                height: 80px;
                border-radius: 4px;
                border: 0.5px solid rgb(238, 238, 238);
                background-repeat: no-repeat;
                background-size: 90%;
                background-position: center center;
                position: relative;
            }

            .box-prod-order .product .detail .quantity span {
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
                color: rgb(7, 171, 226);
                text-align: center;
                position: absolute;
                width: 28px;
                height: 28px;
                background-color: rgb(235, 235, 240);
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;
                right: 0px;
                bottom: 0px;
                border-top-left-radius: 10px;
            }

    .box-prod-order .total-price {
        /*Đưa vào cuối hàng*/
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        margin-top: 12px;
        width: 100%;
    }

        .box-prod-order .total-price .content {
            display: flex;
            gap: 5px;
        }

        .box-prod-order .total-price .click-continue {
            display: flex;
        }

        .box-prod-order .total-price .content span {
            font-size: 16px;
        }

        .box-prod-order .total-price .content strong {
            font-size: 16px;
            color: #d70018;
        }

        .box-prod-order .total-price .click-continue button {
            margin-top: 8px;
        }