
@media (max-width: 600px) {

}
@media only screen and (max-width: 768px) {
    .col-lg-9, .col-md-9, .col-xs-9 {
        padding-right: 0 !important; 
        padding-left: 0 !important;
    }
    .header .box-header-introduce {
        margin-top:10px;
    }
        .header .box-header-introduce div img {
            width: 100% !important;
        }    
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.container-seafood { 
}

.header {
    padding: 0 20px 0 20px;
    margin-top: 12px;
    color: black;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

    .header .box-header-carouse {
    }

        .header .box-header-carouse .header-carousel {
            border-radius: 10px;
        }

            .header .box-header-carouse .header-carousel .carousel-inner {
                border-radius: 10px;
            }

                .header .box-header-carouse .header-carousel .carousel-inner .slides-container-image {
                    width: 100%;
                }

                    .header .box-header-carouse .header-carousel .carousel-inner .slides-container-image img {
                        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
                        width: 100%;
                    }

    .header .box-header-introduce {
    }

        .header .box-header-introduce div img {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
            width: 102.5%;
            border-radius: 10px;
        }                        
    