@media only screen and (max-width: 600px) {
    .due-voucher {
        margin-top: 8px;
    }
}

.heading {
    /*font-size: 19px;
     line-height: 21px;
     font-weight: 300;*/
    margin: 20px 0px 15px;
}

.tab-content {
}

.grid-container {
    display: grid;
    grid-template-columns: 171.5px auto;
    margin-top: 10px;
    overflow: auto;
}

.grid-item-title {
    background-color: white;
    border: 1px solid rgba(0,0,0,.14);
    padding: 40px 0 20px 0;
    text-align: center;
}

    .grid-item-title .image {
        width: 60px;
        margin: 0 auto;
        margin-bottom: -15px;
    }

        .grid-item-title .image img {
            width: 100%;
        }

.grid-item-content {
    background-color: white;
    border: 1px solid rgba(0,0,0,.14);
    padding: 20px;
    text-align: start;
    padding: 20px 20px 30px 20px;
}

    .grid-item-content .box-header {
        display: flex;
        gap: 10px;
    }

        .grid-item-content .box-header strong {
            width: 140px;
        }

    .grid-item-content .box-content {
    }

        .grid-item-content .box-content .content {
            margin-top: 5px;
            display: flex;
            gap: 8px;
        }

            .grid-item-content .box-content .content strong {
                margin-top: 8px;
                text-align: start;
                width: 5px;
                height: 5px;
                background-color: black;
                display: flex;
                border-radius: 50%;
            }
