@media only screen and (max-width: 600px) {
    .order-notify, .system-notify {
        margin-top: 8px;
    }
}

.heading {
    /*font-size: 19px;
     line-height: 21px;
     font-weight: 300;*/
    margin: 20px 0px 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 171.5px auto;
    margin-top: 10px;
}

.grid-item-title {
    background-color: white;
    border: 1px solid rgba(0,0,0,.14);
    padding: 20px 0 20px 0;
    text-align: center;
}

    .grid-item-title i {
        font-size: 30px;
        margin-bottom: 5px;
    }

.grid-item-content {
    background-color: white;
    border: 1px solid rgba(0,0,0,.14);
    padding: 20px;
    text-align: start;
    position: relative;
}

    .grid-item-content label {
        position: absolute;
        cursor: pointer;
        bottom: 2px;
        right: 17px;
        color: #d70018;
        font-size: 13px;
    }