@using Domain.Constant
@{
    Layout = "~/Views/Shared/_LayoutAccountManager.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/address-list.css" rel="stylesheet" />
    <style>
        /*ghi đè class*/
    </style>
</head>

<body>
    <div class="container-OrderDetail">
        <div class="main-title">
            <h1>SỔ ĐỊA CHỈ </h1>
        </div>
        <div class="slim-line">
        </div>
    </div>
    <script>
        //Setup
        //Setup
        $(document).ready(function ()
        {
            
        });
    </script>
</body>
</html>
