@using Domain.Constant
@{
    Layout = "~/Views/Shared/_LayoutAccountManager.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/address-list.css" rel="stylesheet" />
    <style>
        /*ghi đè class*/
    </style>
</head>

<body>
    <div class="container-address-list">
        <div class="heading">
            <h3>Sổ địa chỉ</h3>
        </div>
        <div class="box-add-new-address">
            <i class="fa-regular fa-plus"></i>
            <span>Thêm địa chỉ mới</span>
        </div>
        <div class="box-address-active box-address">
            <div class="name">
                <span>Phạm Văn Đức</span>
                <span class="default-address">Địa chỉ được giao hàng</span>
            </div>
            <div class="content">
                <span>
                    Địa chỉ:
                    <strong>
                        Văn phòng
                    </strong>
                    Lô 14 phố Nguyễn Cảnh Dị, Phường Đại Kim, Quận Hoàng Mai, Hà Nội
                </span>
                <span>
                    Địa chỉ: 0367823445
                </span>
            </div>
            <div class="click-continue">
                <button onclick="editAddress()" class="btn-core">Sửa</button>
            </div>
        </div>
        <div class="box-address">
            <div class="name">
                <span>Phạm Văn Đức</span>
            </div>
            <div class="content">
                <span>
                    Địa chỉ:
                    <strong>
                        Văn phòng
                    </strong>
                    Lô 14 phố Nguyễn Cảnh Dị, Phường Đại Kim, Quận Hoàng Mai, Hà Nội
                </span>
                <span>
                    Địa chỉ: 0367823445
                </span>
            </div>
            <div class="click-continue">
                <button onclick="editAddress()" class="btn-core">Sửa</button>
                <button class="btn-core-delete">Xóa</button>
            </div>
        </div>
    </div>
    <script>
        //Setup
        //Setup
        $(document).ready(function ()
        {        
        });

        $('.box-add-new-address').click(function (e)
        {
            var dom = this;
            window.location = "/Address/AddressAdd";
        });
        function editAddress()
        {
            var dom = this;
            window.location = "/Address/AddressEdit";
        }

    </script>
</body>
</html>
