@using Domain.Constant
@using Service.Helpers;
@{
    Layout = "~/Views/Shared/_LayoutAccountManager.cshtml";
    var masterDataHelper = new MasterDataHelper();
    var listRegion = masterDataHelper.GetListRegion();
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/demo/account-manager/address-add.css" rel="stylesheet" />
    <style>       
        /*ghi đè class*/
        .box-address-add .form-control-address-add .input-address:focus {
            border: 1px solid rgb(7, 171, 226);
        }
        .box-address-add .form-control-address-add .textarea-address:focus {
            outline-color: rgb(7, 171, 226);
        }
    </style>
</head>

<body>
    <div class="container-address-add">
        <div class="heading">
            <h3>Thêm địa chỉ mới</h3>
        </div>
        <div class="box-address-add">
            <form>
                <div class="form-control-address-add">
                    <label class="label-address">Họ và tên:</label>
                    <input required class="input-address" placeholder="Nhập họ và tên" maxlength="60" value="Phạm Văn Đức">
                </div>
                <div class="form-control-address-add">
                    <label class="label-address">Công ty:</label>
                    <input class="input-address" placeholder="Nhập công ty" maxlength="60" value="">
                </div>
                <div class="form-control-address-add">
                    <label class="label-address">Số điện thoại:</label>
                    <input required class="input-address" placeholder="Nhập số điện thoại" maxlength="10" value="0367823445">
                </div>
                <div class="form-control-address-add">
                    <label class="label-address">Tỉnh/Thành phố:</label>
                    <select required class="form-select" aria-label="Default select example">
                        <option disabled selected value="">Chọn Tỉnh/Thành phố</option>
                        <option value="1">Quận Ba Đình</option>
                    </select>
                </div>
                <div class="form-control-address-add">
                    <label class="label-address">Quận huyện:</label>
                    <select required class="form-select" aria-label="Default select example">
                        <option disabled selected value="">Chọn Quận/Huyện</option>
                    </select>
                </div>
                <div class="form-control-address-add">
                    <label class="label-address">Phường xã:</label>
                    <select required class="form-select" aria-label="Default select example">
                        <option disabled selected value="">Chọn Phường/xã</option>
                    </select>
                </div>
                <div class="form-control-address-add">
                    <label class="label-address">Địa chỉ:</label>
                    <textarea required class="textarea-address" name="street" rows="3" maxlength="200" placeholder="Nhập địa chỉ"></textarea>
                </div>
                <div class="form-control-address-add">
                    <label class="label-address">Loại địa chỉ:</label>
                    <div class="box-check-radio-option">
                        <input type="radio" id="option_address1" name="radio_option_address" value="0" checked="checked" />
                        <label for="contactChoice1">Nhà riêng / Chung cư</label>
                        <input type="radio" id="option_address2" name="radio_option_address" value="1" />
                        <label for="contactChoice2">Cơ quan / Công ty</label>
                    </div>
                </div>
                <div class="form-control-address-add">
                    <label class="label-address"></label>
                    <div style="margin-top:-10px;" class="box-check-radio-option">
                        <input style="height:20px;width:20px;" type="checkbox" id="check_option_default" name="check_option_default">
                        <label> Đặt làm địa chỉ giao hàng</label><br>
                    </div>
                </div>
                <div class="form-control-address-add">
                    <label class="label-address"></label>
                    <div class="box-click-continue">
                        <button class="btn-core-cancle" type="button">Hủy bỏ</button>
                        <button class="btn-core-accept" type="submit">Thêm địa chỉ</button>
                    </div>
                </div>
                @*<input type="submit" value="121212" onclick="ok()">*@
            </form>
        </div>
    </div>
    <script>
        //Setup
        //Setup
        $(document).ready(function ()
        {
        });
    </script>
</body>
</html>
